[2016-09-14 21:29] cibernox commented on #663
Add some class to the dropdown:

[code]

[code]

Makes sense?

[2016-09-14 21:32] cibernox commented on #662
I don't see why the markup around would affect this because this uses `triggerElement.getBoundingClientRect` to find the X/Y coordinates, so I just trust the browser to do that. This is weird.

Can you create a reproduction (maybe using ember-twiddle)?

[2016-09-15 20:18] basz opened #664 "Error with ember 2.8.0"
Hi!

I'm seeying this error after upgrading.... Any idea

[code]

Updated ember from 2.6.2 to 2.8.0
Updated ember-power-select to beta15

[code]

[2016-09-15 20:47] cibernox commented on #664
While that message makes sense (not using attributeBindings in tagless components), none of the components where this addon uses `attributeBindings` is tagless.

https://github.com/cibernox/ember-basic-dropdown/blob/b403d55bf4966bcef7da6e213b70f48957e0edb8/addon/components/basic-dropdown/trigger.js#L26

https://github.com/cibernox/ember-power-select/blob/035efe88726fbafe540cc34a2d4691dd2b325271/ad

[2016-09-15 21:27] basz commented on #664
hmm, after a ember init and only this project added the error is gone and a select box appears without problems. so it is something else in my project... back to upgrade hell. thx

[2016-09-15 21:27] #664 closed

[2016-09-15 21:36] basz commented on #664
Just letting y know I found the problem;

[code]

My 'selected-event' component did not have a tagName defined...

[2016-09-15 22:00] cibernox commented on #664
🎊

[2016-09-16 07:44] HenryVonfire opened #666 "Assertion Failed: You cannot use `attributeBindings` on a tag-less component"
I'm getting this error with ember `2.8.1` and EPS `1.0.0-beta.15`:

[2016-09-16 07:51] cibernox commented on #666
Can you check if this helps?#664

[2016-09-16 08:24] HenryVonfire commented on #666
Not much :pensive: using it in the application template with a basic usage, when EPS is present I get that error and when I remove it, the app works fine

[2016-09-16 08:32] cibernox commented on #666
No idea. Tests pass in 2.8. This addon, unless the user customizes some element, doesn't use `attributeBindings` on a tagless component.

[2016-09-16 08:39] HenryVonfire commented on #666
Ok, thanks anyway. I'll come back if I found the answer. It can be helpful to someone else.

[2016-09-16 08:42] HenryVonfire commented on #666
That was quick. I found it! there's a conflict between this addon and `ember-hammertime`. Just installing both generate the error.

[2016-09-16 08:47] cibernox commented on #666
I don't see the relation between ember-hammertime and EPS 😕

[2016-09-16 08:55] HenryVonfire commented on #666
Confirmed. I removed it from my project and now all the EPS work. Should I open an issue in that repository?

[2016-09-16 08:56] corrspt commented on #666
I think there's already an issue for that in [Ember Hammer Time](https://github.com/runspired/ember-hammertime/issues/19)

[2016-09-16 09:38] cibernox commented on #666
I'm closing this then 👌

[2016-09-16 09:38] #666 closed

[2016-09-16 11:39] eshtadc opened #667 "How to p"
I'm getting an error:

This happens when I pick a new item from the drop down list.  I have to re-render the components when a change is made based on the available options changing.  I think that this is messing with ember-power-select's own expected timing of events.

This happens on the mouseUp event handler of findOptionAndPerform in options.js.  I'll see if I can figure out enough for a PR.

[2016-09-16 12:05] eshtadc commented on #667
I adjusted my own code to run on the next run loop so that the select could have a chance to finish up it's own clean-up and that seems to be fine.

[2016-09-16 12:05] #667 closed

[2016-09-16 12:14] cibernox commented on #667
Maybe doing `Ember.run.schedule('action', yourFunction)` works too, and is less hacky that `Ember.run.next`

[2016-09-16 13:58] eshtadc commented on #667
@cibernox Thanks for the advice 👍

[2016-09-16 20:54] rafael-paiva commented on #145
I'm having the same issue
`Uncaught Error: ember-wormhole failed to render into '#ember-basic-dropdown-wormhole' because the element is not in the DOM`

The problem I think is that my app is a Wordpress app that drops the Ember client into several existing Wordpress pages.

When I'm running the Ember app alone I don't have the issue and I can find the `ember-basic-dropdown-wormhole` div in my `bod

[2016-09-16 21:01] cibernox commented on #145
@rafael-paiva If when you add your app into wordpress the div is not there, you can add it yourself, in the application template. You can even add it in your wordpress page. The closer to the `body` the better. Just put `<div id="ember-basic-dropdown-wormhole"></div>` somewhere.

[2016-09-16 21:05] rafael-paiva commented on #145
@cibernox sounds like a plan! Let me try that and I'll update here if it works. Thanks dude!

[2016-09-16 23:04] rafael-paiva commented on #145
@cibernox I actually fixed by setting `renderInPlace=true`. IMH cleaner than manually add a div to my template. Thanks very much for your quick response!

[2016-09-16 23:08] cibernox commented on #145
@rafael-paiva That works, but take into account that it's not equivalent. When rendering the component in place the dropdown will be constrained by z-index and regular overflow rules as the rest of the document. Also, the dropdown won't open above the trigger if there is little space below. Depending on the situation it may or may not be important to you.

[2016-09-17 02:46] albertonavarro087 opened #669 "error after updade to ember 2.8"
I'm getting this error after update to ember 2.8, I'm using the latest release of ember-power-select 1.0.0-beta.17

[code]

Any ideas on this?

Thanks

[2016-09-17 06:31] manoharank opened #670 "Issue in placeholder in `power-select-multiple`"
I have encountered the following issue in `ember-power-select#1.0.0-beta.17`. It shows `true` in placeholder when there is no placeholder passed or any item selected in `power-select-multiple`.

![multi-select-placeholder](https://cloud.githubusercontent.com/assets/1687297/18606411/dad4ad94-7ccc-11e6-8c1f-f81f6be7bd19.jpg)

I have seen the below code for `maybePlaceholder` computed property in Git

[2016-09-17 08:25] cibernox commented on #669
EPS works fine in 2.8. Check #666 #664 for ideas.

[2016-09-17 08:25] #669 closed

[2016-09-17 08:55] #663 closed

[2016-09-17 08:57] #656 closed

[2016-09-17 09:11] ktrhn commented on #656
Seams reasonable. Maybe a note in the documentation about this?

[2016-09-17 19:21] msalahz commented on #630
any updates on that ?

[2016-09-17 23:13] rmcsharry opened #673 "How to access the selected objects in multiple-selection, when those objects are a Store collection?"
EmberJS 2.7 with **EPS 1.0.0.0-beta15**

I have gone through at least 2 or 3 pages of closed issues and cannot find this problem explained. I read [this entire issue](https://github.com/cibernox/ember-power-select/issues/102), which is more about filter and search, but makes the same point about the docs only showing how to use this with simple arrays.

_So to be clear, search/filter is not my iss

[2016-09-17 23:57] cibernox commented on #673
Still reading the entire problem, but something I see that is off is this:

[code]

The `onchange` action doesn't receives the new selection. In single selects that is one object, in multiple selects that is an array of objects. Instead of pushing, you need to either replace the collection (like the `mut` helper does, and seems to work for you) or compare the existing collection with what it's alr

[2016-09-18 00:23] rmcsharry commented on #673
100 point bounty [up for grabs here](http://stackoverflow.com/questions/39506375/emberjs-2-7-has-many-configuration-for-ember-data-and-active-model-serializers) on SO.

[2016-09-18 00:28] rmcsharry commented on #673
@cibernox Thank you for the fast response.

Yes I can see that makes sense - that the action is just coded to receive one object. I can work on that bit at least and make some headway.

However, to be honest I would rather use the mut option, as I'm sure that will be the path of least pain.

But I just have no idea how to get at whatever is selected - or indeed, where that collection should actual

[2016-09-18 01:53] rmcsharry commented on #673
Thanks, you were right about the action code.

I have managed to do the mutation by changing the action code to:

[code]

staff property in the controller is now staff: Emer.A() but not sure if that's really necessary.

[2016-09-18 09:14] manoharank commented on #670
I am using `ember#2.9.0-beta.2`. This is an issue with Glimmer, not in `ember-power-select`. Related issue  ember.js/issues#14290.

[2016-09-18 09:14] #670 closed

[2016-09-18 09:21] cibernox commented on #670
Good thing. I've been working on glimmer compatibility yesterday and I saw this too.

[2016-09-18 15:19] corrspt commented on #630
Just want to say that I've upgraded to Ember 2.7.3 (from 2.6) and this started happening as well, I'll try to isolate the issue if I can.

It seems to happen only on power-select-multiple.

[2016-09-18 15:48] cibernox commented on #630
I **might** I've fixed it while working in the glimmer2 compatibility. Let's see if I can publish it today.

[2016-09-18 19:45] corrspt commented on #630
Let me post some of my findings:

I had ember-power-select `v1.0.0-beta.17` installed and ember-power-select-with-create `v0.1.10`, when I updated to ember-power-select-with-create v0.2.0 it started working.

Long version:
I updated my package.json to reference the latest commit in Ember Power Select  like this
`"ember-power-select": "git://github.com/cibernox/ember-power-select.git#b43879f13f0d2b

[2016-09-18 20:18] msalahz commented on #630
Thank @corrspt I will give it a try today.

[2016-09-18 20:18] msalahz commented on #630
Thanks @corrspt I will give it a try today.

[2016-09-18 20:49] cibernox commented on #630
Oh yes, the good ol' "hey! I'm NPM, i don't care about dependency conflicts, so I'll install both version and silently choose one" problem.

I'll update the readme of EPS-with-create to state that 0.2.0 is for use with EPS 1.0.

[2016-09-18 22:31] msalahz commented on #630
@cibernox , I confirmed this fix, Thanks a gain @corrspt

[2016-09-19 13:41] mdentremont opened #676 "Test helpers no longer allow "*" as a selector"
It appears that with the latest >=1.0 betas/alphas, `selectChoose` and `selectSearch` have been modified in such a way that they longer perform a `find('.ember-power-select-trigger')` when trying to locate the power select fields using the passed in `cssPath`.

This is resulting in failure to find components when using a wildcard css specifiers such as '*'.

We found it helpful to use a `*` select

[2016-09-19 13:44] cibernox commented on #676
Could you give me an example (call to `select*` + html/template) that used to work and now it doesn't? I have regression tests for helpers, so if this broke means there was one case I wasn't testing.

[2016-09-19 14:30] mdentremont commented on #676
@cibernox something along these lines: https://github.com/cibernox/ember-power-select/pull/677

[2016-09-19 14:56] #676 closed

[2016-09-19 16:17] #673 closed

[2016-09-21 14:26] zidjian257 opened #681 "support selected values be simple values mapped to options beeing objects"
Hi,

I just extended the PowerSelect so I can set and get the selected values by only passing an identifying property of the options objects.

Maybe you wanna include that as a standard feature to the power select.
Here is the code:

[code]

If you like the idea I can build a pull request for this.

[2016-09-21 14:29] cibernox commented on #681
Can you put en example of how you use that from the template to be sure I get your intention?

[2016-09-21 14:50] zidjian257 commented on #681
js
[code]
hbs
[code]
as you see options is an array of objects, but selected will be an array of the identifying values only

[2016-09-21 18:27] zethussuen opened #683 "Typo in documentation"
Should be typically*

![image](https://cloud.githubusercontent.com/assets/754158/18723668/6527ee9c-7fee-11e6-9196-39a4b90274ff.png)

[2016-09-21 19:16] cibernox commented on #681
What I do and encourage other people to do is to use `value="whatever"` to extract that, in combination with the [find-by]() helper:

[code]

Were you aware of this? I just a little bit more verbose but also has very little magic.

[2016-09-21 20:03] #683 closed

[2016-09-21 20:04] cibernox commented on #683
Thanks!

[2016-09-21 20:18] corrspt commented on #630
Glad I could help @msalahz !

[2016-09-21 21:30] zidjian257 commented on #681
Yep, excactly. That's what I was looking for.
How do you so this with multi selects?

[2016-09-21 21:45] cibernox commented on #681
Maybe there is a way of doing that using `map-by`, `filter-by` and `pipe`, but I admit that I haven't done it.

[2016-09-23 14:10] Sinled opened #685 "Possibility to test with ember-cli-page-object"
Hi, at first, thanks for the great plugin.

I am using `ember-cli-page-object`  in my acceptance and integration tests,
but `ember-power-select` completely ignores events from page-object
am i missing something, or it is normal behaviour and the only way to access EPS in tests via test provided helpers?

[2016-09-23 14:22] corrspt commented on #685
I'm starting my acceptance tests with `ember-cli-page-object` and `ember-power-select` as well, and this [issue in the page object repo](https://github.com/san650/ember-cli-page-object/issues/229) helped me advance a little in my efforts.

I don't think events are ignored, I'm still working through my component, but this is what I have (this is a component I call PowerLov (an ember-cli-page-object

[2016-09-26 22:19] Vasleo opened #687 "Uncaught TypeError: keyword is not a function"
Am trying to use power select inside of a component in my custom Addon, and I see the below error.,

**Uncaught TypeError: keyword is not a function**

The piece of code that has this error is below.,

    _var keyword = env.hooks.keywords[helperName];
    if (keyword) {
      return keyword(null, env, scope, params, hash, null, null);
    }_

But when I try to run the same code as just an app, it

[2016-09-26 23:06] cibernox commented on #687
This component requires Ember 2.4 or bigger. I think that it works with 2.3.1 too, but not older. Check with a newer version of ember and if the problem persists feel free to reopen.

[2016-09-26 23:06] #687 closed

[2016-09-27 04:47] LawreyTan opened #688 "Error: File to import not found or unreadable: ember-power-select"
Error: File to import not found or unreadable: ember-power-select

import always fail, cant use! with 2.8.0

[2016-09-27 08:32] cibernox commented on #688
Can you add more information to this? What are you doing, what version  of this addon, ect...

[2016-09-27 08:43] Sinled commented on #685
@corrspt thanks, helpers code from  provided link works like a charm
[code]

[2016-09-27 08:43] #685 closed

[2016-09-27 08:48] cibernox commented on #685
This is closed now, but the only thing to take into account is that this component uses `onclick=`/`onmouseover=` etc... and this kind of triggers are not fired with jquery events (`$(selector).trigger('mouseover')`), they require native events.

Because of that, it provides a couple acceptance helpers (`selectChoose` and `selectSearch`) to easy it's usage in testing.

[2016-09-27 08:49] cibernox commented on #681
I'm closing since I prefer users to do this themselves and keep the component simple. Thanks for the feedback.

[2016-09-27 08:49] #681 closed

[2016-09-27 08:51] cibernox commented on #655
I don't think this is the case. It's more than tested and the documentation page is a good live example of this. What combination of this addon + Ember are you using?

[2016-09-27 16:34] youroff opened #689 "Infinite scroll for remote data sets (select2 like)"
Is there possibility to implement infinite scroll with power-select? What I'd like to achieve is showing some selection right away (even when search haven't been used yet) for the case when user has no idea what keywords to use. What would be an approach here?

[2016-09-27 16:51] cibernox commented on #689
Yes, it should be doable, although a bit involved.

In short, ember-power-select is composed of several components, and all of them can be replaced. See http://www.ember-power-select.com/docs/architecture to know the components.

In this case you'd have to replace the `optionsComponent`  by some component created by you that handles infinite scroll. How you do it is not a concern of this addon, al

[2016-09-27 16:51] #689 closed

[2016-09-27 20:07] youroff commented on #689
Ok, I'll check that out.

However, shouldn't it be a core feature? Maybe paired with search functionality?
For example, this example in documentation shows only a couple of dozens of options when searching term is 'ember'. It doesn't look right and I believe it's a pretty common thing: http://www.ember-power-select.com/docs/custom-search-action

[2016-09-27 21:13] cibernox commented on #689
The goal of the component is to provide the primitives that allow consumer to build any select they want (and at the same time direct the user toward good practices, like accesibility)

Infinite scrolling is on its own right a tricky business with quite a lot of edge cases to cover. I would be a shame to ship all that code to users that are not going to use that feature, thus the idea of `ember-po

[2016-09-28 21:10] snewcomer commented on #630
@cibernox sorry to be a party pooper, but I am getting the same error.  Basically I have **one component** calling a model related function in the init method (add_many_to_many at the bottom of the stack trace).  In **another component**, I have an ember-power-select-multiple.  The top of the stack trace is referencing this multiple ps.  Remove the model related function in the init method (which

[2016-09-28 22:12] nucleartide opened #691 "Test helper for choosing grouped options"
Hello! I noticed that there isn't a test helper for choosing grouped options, where two options might have the same text, but be under different group names. (For example, `Group 1 > Foo` and `Group 2 > Foo`.)

Here's a gist - I only changed the selector: [link](https://gist.github.com/nucleartide/3191ec93ea7efd45052f84f054be55b3#file-select-group-choose-js-L50)

What do you think? Should I procee

[2016-09-29 04:10] snewcomer commented on #630
I'll try to get a twiddle up

[2016-09-29 05:31] pohodnya opened #692 "Load options with pagination via API & preload options on opening select"
After the opening of the select must load the first page of results (using data of pagination: page & per_page). Next need gradual loading data as scrolling. Search similar to.

For example:
**select2** send the first parameter to action **'query'**:

_This action works for onOpen and for onChange_

Example query action:

[code]

[2016-09-29 07:50] cibernox commented on #692
I'm sorry, what exactly is the issue here?

[2016-09-29 07:57] pohodnya commented on #692
@cybernox because I want you to have added the ability to progressively download the data in ember-power-select

[2016-09-29 08:03] cibernox commented on #692
You can but you have to do it yourself, implementing a custom `optionsComponent` with infinite scroll that calls `search` to get more pages.

I plan to do something similar soon using `smoke-and-mirrors` soon, but at the time this has to be done in userland.

[2016-09-29 08:04] cibernox commented on #692
If you want further assistance, this looks a bit more like a question to stackoverflow than an issue in github.

[2016-09-29 08:04] #692 closed

[2016-09-29 22:05] machty commented on #354
Just ran into this due to a common [ember-concurrency](https://github.com/machty/ember-concurrency/issues/78) use cases.

It's not a _huge_ deal but because `search` doesn't fire on an empty string, e-c has no way to cancel the most recent, single character search.

[2016-09-29 22:30] cibernox opened #693 "Add support for `cancel`ables in search"
As of today, EPS is already `then`able aware. That means that some actions like `search` expect the value returned from user-land to to have a `then` method that, eventually, resolves to a collection.

At the moment, when a search is fired before the previous one is resolved, EPS is smart enough to just care about the most-recent promise, so even when those promises resolve, the component ignores

[2016-09-29 23:10] cibernox commented on #691
I agree that this should be possible but I think that a better solution would be to modify `selectChoose` to accept a selector as second argument apart from just text. What way you can do

[code]

This addition would work both with single or multiple selects, without the need of an extra helper. I'll add this to the backlog

[2016-09-29 23:21] cibernox opened #694 "Components animated with `transition` cannot be closed."
Seems that, while adding CSS animations using `animation: my-animation;` works fine, doing the same using `transition: something 1s;` doesn't.

This issue probably lies in Ember-basic-dropdown. It might be related with some reported inconsistent behaviour of the `transitionend` event in browsers, but might as well be a real bug.

/cc @danmonroe

[2016-09-30 10:08] miguelcobain commented on #694
Like I said, let's consider the usage of ember-css-transitions.
We don't want to bloat everyone's node_modules with more dependencies, but things seem to work pretty well for us. Shared solutions are powerful.

[2016-09-30 10:09] cibernox commented on #694
I will consider it. I first need to diagnose what's going on.

[2016-09-30 17:22] #694 closed

[2016-09-30 21:11] #691 closed

[2016-09-30 21:12] cibernox commented on #691
This is already in master. Over the weekend I'll release a new version.

[2016-09-30 21:13] cibernox opened #698 "Show a better error message when `selectChoose` or `selectSearch` don't find a match."
At the moment the error message is pretty cryptic. Something like "cannot call dispatch on undefined".

It should be something inteligible for people that don't know this errors is coming from EPS. Something like:

[code]

[2016-09-30 21:16] nucleartide commented on #691
awesome, thanks!!

[2016-09-30 22:37] #698 closed

[2016-10-01 14:01] cibernox opened #701 "Migate to eslint + ember-suave plugin"

[2016-10-01 17:00] #701 closed

[2016-10-01 22:42] #693 closed

[2016-10-04 11:43] vamsikaja commented on #563
@cibernox @yuriyk Is `verticalPosition=above` is not applied when `renderInPlace="true"` issue is fixed ? I had a power-select with renderInPlace="true" and is at the bottom of the page and when I clicked, I'm not able to see entire drop-down-content, So I wanted to use `verticalPosition=above` and Its is not positioning as I needed

[2016-10-04 13:26] cibernox commented on #563
Not yet. Can you not render the content in place?

[2016-10-04 17:42] vamsikaja commented on #563
No @cibernox, As it is positioned relative to root when we scroll it is fixed there only without moving along with the trigger

[2016-10-05 14:26] rlivsey opened #706 "Removing power-select as result of selection causes error"
If you have a select which is removed from the template as a result of making a selection:

[code]

When a selection is made, it then calls `updateState` in the next run-loop, by which point the select is being destroyed, causing an error:

![screen shot 2016-10-05 at 15 22 59](https://cloud.githubusercontent.com/assets/3740/19117062/a0d6b3d4-8b0f-11e6-86df-5ae8fbbe4643.png)

We should probably ch

[2016-10-05 15:11] rlivsey commented on #706
Fixed in latest version

[2016-10-05 15:11] #706 closed

[2016-10-05 17:51] bambery commented on #551
My usecase was slightly more complicated, in that I didn't want already selected options appearing in the dropdown once they were selected, so my dropdown options is a computed property that subtracts selected items from the total list of dropdown items with Ember.Enumerable.filter. I suspect it's not terribly efficient, so if anyone else has other solutions to this problem, I'd be interested to s

[2016-10-05 18:33] cibernox commented on #551
I feel inclined to think that this can be solved in user-land easily enough to not be on the core functionality.

By example, using `ember-composable-helpers`, it's actually very nice and expressive.

[code]

Having such simple ways of composing EPS with helpers, I'd rather not implement this in the component.

[2016-10-05 18:34] cibernox commented on #551
I think I'm closing this. Extra documentation would be welcomed tho.

[2016-10-05 18:34] #551 closed

[2016-10-05 21:27] cibernox opened #708 "add an `onblur` action, for symmetry with `onfocus`"
Investigation of how `onfocus` works, so `onblur` behaves consistently.

- It fires when the trigger of a single select is focused
- If ALSO fires when the searchbox of the single select is focused, even if the trigger already had the focus.
- It fires when the trigger of a multiple-select gets focused, but ...
- it DOES NOT fire when the input inside gets focused. And when there is an input, the

[2016-10-06 21:13] #708 closed

[2016-10-09 22:51] pauln opened #711 "defaultHighlighted prevents auto-highlighting on search"
If you specify a value for `defaultHighlighted`, that option remains highlighted even when it's been filtered out.  For example, if you apply `defaultHighlighted="New York"` to the first example on the "Action handling" page of the docs, it highlights New York by default:
![image](https://cloud.githubusercontent.com/assets/574359/19224275/40458c74-8edf-11e6-907d-f7cef6b1396e.png)

But then if you

[2016-10-10 06:16] cibernox commented on #711
Yes, if the highlighted option is static and you can filter, that would be broken, but you can pass a function, not just a static value. If you pass a function, you can do the right thing.

[2016-10-10 07:19] pauln commented on #711
The new option is called "defaultHighlighted", which implies that it should control what's highlighted _by default_, i.e. when the select is opened (per the API docs) - I wasn't expecting it to prevent user input events (that is, typing in the filter/search box) from highlighting other items.

Thinking further about it, I think that when this was initially discussed, you suggested that it could be

[2016-10-10 08:10] pauln commented on #711
As per our conversation on Slack, it does seem to work fine - the key thing is to `import { defaultHighlighted } from 'ember-power-select/utils/group-utils';` and use it to get default behaviour in cases where it doesn't need to be overridden.

[2016-10-10 18:28] corrspt opened #712 "Acceptance Test Helper - Finding Selected Options"
Hi,

I think it would be useful to have a new `acceptance test helper` that allows to know which options are selected in a multi-select (and the single select as well). I have this situation where I have two `power-select` instances side by side, one is single-select, the other is multi-select.

I have a condition that when you select a value in the first select, it automatically fills some values

[2016-10-10 18:37] cibernox commented on #712
Given that there is no interaction, that sounds more like a custom assertion than as a helper. I used https://github.com/DockYard/ember-cli-custom-assertions in the past with good results.

Something `assert.selectValuesEqual(cssPath, ['one', 'three', 'five'])`.

I'm not against the idea, I just don't know if an addon can provide custom assertions. If so, I am +1 on this idea.

[2016-10-10 18:43] corrspt commented on #712
Hum, that makes sense... anything we can do to workaround the `×` issue? Since it's rendered along side the content with no way to unselect it (at least with my low css-selector skills)?

[2016-10-10 19:12] cibernox commented on #712
Custom assertions can do whatever they want. I imagine that in this case getting the text of the options and doing a `strings.map(str => str.replace('×', ''))` would suffice.

[2016-10-13 12:26] mschwenk commented on #688
Unfortunately I have the same issue when I try to add ember-power-select to my addon as a dependency.
To override the styles coming with ember-power-select, I add `@import 'ember-power-select';` to my addon.scss file.

I'm using:
"ember-power-select": "1.0.0-beta.23"
"ember-cli-sass": "5.5.2"

I also configured the index.js file with the following code.
[code]
This worked for the bootstrap @import

[2016-10-13 12:34] cibernox commented on #688
@mschwenk I'm not entirely sure of how `addon.scss` works. I remember I tried to use it one year ago but I ran into issues, and I took a different approach.

Check how EPS in turn the styles of `ember-basic-dropdown`: https://github.com/cibernox/ember-power-select/blob/master/app/styles/ember-power-select.scss#L6
Note the the stylesheet is in `app/styles/name.scss`, not inside the addon folder.

[2016-10-14 11:48] gpluta commented on #579
I had this same error while using 1.0.0-beta.4 version. After upgrading to beta.23 the error is gone. Perhaps this issue could be closed?

[2016-10-14 12:00] cibernox commented on #579
Probably yes. Closing

[2016-10-14 12:00] #579 closed

[2016-10-17 11:01] hadsy opened #714 "power-select doesn't close when clicking away from open component"
I have the simplest implementation of power-select, when you open the options and then click away from the component it doesn't close. I also noticed if you click away but inline or above the trigger component it closes as expected.

[code]

I get the same behaviour in Chrome, IE11 & Edge.
Do I need to add anything to get the selector to close correctly when blurred?

[2016-10-17 11:05] cibernox commented on #714
This feature is more than tested. I mean, check the documentation page by example (http://www.ember-power-select.com/). It's working there.

Perhaps your app is not rendered in the body of the page?

[2016-10-17 13:36] hadsy commented on #714
Pretty sure it's rendered in the right place, I've attached a screenshot below:

![power-select onblur click bug](https://cloud.githubusercontent.com/assets/1922001/19439122/df55620e-9474-11e6-98a2-2d34f75bc5b4.png)

Also I have created a [twiddle](https://ember-twiddle.com/b0b11c9b3cdb6c12a93fedf1c62eceed?openFiles=twiddle.json%2C) that shows the issue, one selector by itself 100% width, the othe

[2016-10-17 14:07] cibernox commented on #714
Yeah, I know what is going on. The components listen for clicks on the body to close itself. And in your case, the body ends up just after the select because it's the last thing in the document.

Make the body element be full height with this line of CSS and tell me if it works.

[code]

[2016-10-17 14:23] hadsy commented on #714
Yep that fixes it! Thanks for the fast response, great component too!

[2016-10-17 14:23] #714 closed

[2016-10-25 23:23] SirZach commented on #493
I can reproduce the same unselected behavior with `false` as the value

[2016-10-26 22:44] clumsysnake opened #719 "clicking on option fires empty onchange action when search function returns DS.AdapterPopulatedRecordArray"
observed atleast on 1.0.0-beta.26

our search function returns groups in the following format:

[code]

However, when the user then clicks on an option the first argument to the action handler for onchange is null. When the user selects an option using arrow keys / return, the argument is present!

To work around the issue, we convert the DS.AdapterPopulatedRecordArray into a normal Array. I assum

[2016-10-26 23:00] clumsysnake commented on #719
my guess is _optionFromIndex() in https://github.com/cibernox/ember-power-select/blob/master/addon/components/power-select/options.js needs to use objectAt() instead of [], if that function is present.

chasing down array incompatibility is my least favorite thing in js/ember :) but i think all Arrays are Ember.Arrays when using Ember at all, rite? so objectAt() is dependably there in this context

[2016-11-02 09:59] monovertex opened #725 "Provide a hook to turn off trigger typing behavior"
I am working with a heavily enhanced ember-power-select component, that I extended via the public API and the various hooks to behave in different ways.

However, I have a hard time stopping the `triggerTypingTask` behavior in a correct manner. Before the switch to concurrent tasks, I was overriding the `_handleTriggerTyping` method, but now I have to override the `triggerTypingTask` to a dummy pr

[2016-11-03 00:18] fotinakis opened #726 "Flaky results when using an Ember Data relationship as options"
Thanks for ember-power-select, it's awesome!

I noticed some flaky behavior when passing an Ember Data has-many relationship to `options`. I have something like this:

[code]
...where `organization.projects` is an Ember Data relationship defined as `projects: DS.hasMany('project')` (which defaults to `{async: true}` which makes it a `DS.PromiseManyArray` underneath).

Now, ember-power-select rende

[2016-11-05 19:55] cibernox commented on #726
This is weird. I use has many relationships often and I haven't seen it. Are you using the latest version? If so, I'd love a reproduction so I can track it down.

[2016-11-05 20:00] cibernox commented on #725
I'm on mobile, but one thing I do that might come handy is to stop the propagation of key down events in your custom trigger component. If they don't bubble, the default behavior is not triggered. Easy.

Check ember-power-select-typeahead.

[2016-11-07 06:31] fotinakis commented on #726
Yup, this is with an ember + ember-data 2.8.0 app. I'll see if I can put together a reproduction this week.

[2016-11-07 07:17] monovertex commented on #725
Yeah, but that blocks off bubbling of the event. If I have other global listeners, let's say, a tooltip that has to disappear when the user clicks on another element (which is traditionally implemented via a document click listener), there is a chance that that event won't fire anymore, because HTML events have no guaranteed order of execution.

This is why preventing bubbling is bad practice for

[2016-11-07 07:59] cibernox commented on #725
What I meant was just to prevent the building of keydown events in the A-Z range. Clicks and keydowns on other keys like arrows/enter do work.

I'll see if a public API for that makes sejse

[2016-11-07 08:04] monovertex commented on #725
Sorry, I meant clicks just as a general example, same goes for keyboard anyway. For example, I have a CTRL+<whatever key in A-Z range> shortcut on the page to save the current document. I have to make sure that triggers first (through more workarounds), otherwise the user won't be able to use that shortcut when they're focused in the input.

[2016-11-12 15:32] #688 closed

[2016-11-12 15:32] #662 closed

[2016-11-12 15:32] #655 closed

[2016-11-12 15:33] cibernox commented on #580
I think that this has been fixed, can you confirm

[2016-11-13 17:12] #328 closed

[2016-11-13 17:12] #9 closed

[2016-11-13 17:13] #330 closed

[2016-11-13 17:13] cibernox commented on #226
This has been implemented already as a light skin and if someone wants a more complete solution they can use ember-paper.

[2016-11-13 17:13] #226 closed

[2016-11-13 17:48] cibernox commented on #335
Unsure if this still applies, so I'm going to close it for now.

[2016-11-13 17:48] #335 closed

[2016-11-13 17:48] #391 closed

[2016-11-13 17:49] cibernox commented on #477
Closing during issue triage

[2016-11-13 17:49] #477 closed

[2016-11-13 17:51] cibernox commented on #459
Closing during issue triage.

[2016-11-13 17:51] #459 closed

[2016-11-13 17:51] #580 closed

[2016-11-13 17:52] cibernox commented on #654
I think that this has been fixed since then. It was because of a change (breaking in my opinion) in Ember that I've since then protected against.

[2016-11-13 17:52] #654 closed

[2016-11-13 17:54] iheanyi commented on #580
Tested it on the site, it worked properly. Thanks for fixing!

[2016-11-13 22:35] #530 closed

[2016-11-13 22:37] #394 closed

[2016-11-14 16:53] SirZach opened #729 "groupName being used a little too eagerly"
I just so happen to have a model with a `groupName` attribute on it but I do not want ember-power-select to group on. If I could say something like "isGroup=false" that would be great. Thanks!

[2016-11-14 17:01] SirZach commented on #729
Just saw that in https://github.com/cibernox/ember-power-select/blob/master/addon/utils/group-utils.js#L5 it's also checking to make sure the entry has an options field but that doesn't seem to matter. My `options` are `undefined` yet `ember-power-select` still treats it as a group.

[2016-11-14 17:03] cibernox commented on #729
Your models doesn't have a property named `options`? If so, I wouldn't expect EPS to recognise it as a group. If so, it is a bug.

If your object has a property names option (even if it's undefined) then I'm not sure how it should behave.

Can you confirm how your object looks like?

[2016-11-14 17:05] SirZach commented on #729
It does not have a property named options. the `!!(get, entry, 'options')` evaluates to `false`.

[2016-11-14 17:06] cibernox commented on #729
Interesting. Can you create a failing test case for this? Sounds like a bug.

[2016-11-14 17:17] SirZach commented on #729
I can't currently `ember serve` with beta.30

[2016-11-14 17:26] SirZach commented on #729
https://github.com/cibernox/ember-power-select/blob/master/addon/templates/components/power-select/options.hbs#L7 yeah, seems like the `groupName` check in the template is done regardless of whether or not the entry was deemed to be a group entry. I think we need something like
`{{#if (and opt.groupName opt.options.length)}}`

[2016-11-14 19:07] corrspt commented on #729
Just want to pitch in and say that I had to workaround this situation (thought it was a limitation thought), ever since the beginnings of ember-power-select.

I've changed my models at the time to not have a `groupName` property

[2016-11-14 19:26] SirZach commented on #729
That's not exactly an option for me. Luckily I was able to override https://github.com/cibernox/ember-power-select/blob/master/addon/templates/components/power-select/options.hbs#L7 to include the check for `opt.options.length`

[2016-11-14 19:31] corrspt commented on #729
Sorry, I wasn't suggesting it as an option for you, just saying that I was affected by the same issue.

[2016-11-14 20:19] cibernox commented on #729
If you could PR that or a helper that uses this internal util: https://github.com/cibernox/ember-power-select/blob/master/addon/utils/group-utils.js#L4 with a test I'd release a fix soon.

I am preparing a workshop for this thursday so I'm very short of time this week.

[2016-11-14 22:00] SirZach commented on #729
It would be API breaking. There's potential, although doubtful, that some users rely on entries with `groupName` with no options defined to show up as groups.

I think the real solution would be for an opt-out strategy in the component declaration to say that you do or do not want groupings (default true to maintain existing behavior) as well as an ability to change what the `groupName` key is.

[2016-11-14 22:47] cibernox commented on #729
I think that is unlikely, because class groups are not selectable. I think that is safe to assume that no one is relying on that.

And technically EPS is still beta.

[2016-11-14 22:48] SirZach commented on #729
Agreed that it's a rare situation, however I would still suggest an opt-out of groups is preferred instead of hoping that they don't accidentally have `groupName` and `options` on their model.

[2016-11-15 00:09] cibernox commented on #729
I don't think it's a real concern, since if that is the case is as simple as doing:

[code]

[code]

[2016-11-15 03:14] SirZach commented on #729
This requires that the developer knows what's happening behind the scenes.

[2016-11-15 15:31] SirZach opened #731 "Allow the selected value to be a key of the options objects"
My options look something like:
[code]
and my selected value is just the id, so
[code]

However, when I do
[code]

The power-select component doesn't show `a` as selected since `1` does not equal the first object in the options array. If there was a key I could use to match on then I could get around this problem. Thanks.

[2016-11-15 15:37] cibernox commented on #731
This is by design. The selected value has to be one element of the list.

Easy trick:

[code]

[2016-11-15 15:38] #731 closed

[2016-11-15 16:07] SirZach commented on #731
Will give it a whirl. Thanks!

[2016-11-16 17:46] eflorit opened #733 "Pulling up API-based suggestions on focus"
Hello,

I'm trying to trigger a search request when the user clicks the `power-select-multiple` box so that they get the most popular suggestions even before they start typing. Unfortunately I can't get it to work because the `search` action requires a non-empty string as its parameter. Is what I'm trying to achieve possible without hacking too much?

Thanks!

[2016-11-16 19:25] cibernox commented on #733
In EPS you can combine `options=` and `search=`, they are not mutually exclusive, so you can pass the frequent options (and empty array at first) and populate it on focus so they are lazy.

[code]

[code]

[2016-11-16 19:28] #733 closed

[2016-11-16 19:28] cibernox commented on #733
Let me know if it works for you.

[2016-11-17 08:38] chilicoder opened #734 "No options in Navigateable select example in Cookbook"
when I open the page in Chrome and Safari
http://www.ember-power-select.com/cookbook/navigable-select

It shows this

<img width="719" alt="screen shot 2016-11-17 at 09 35 57" src="https://cloud.githubusercontent.com/assets/3491833/20381792/5a888f36-aca9-11e6-907d-7d337ccf5da1.png">

[2016-11-17 10:18] eflorit commented on #733
@cibernox Yep, that works. Thanks!

[2016-11-18 02:47] 20v100 commented on #729
I have the same issue. My model as an attr `groupName` that was conflicting with https://github.com/cibernox/ember-power-select/blob/master/addon/templates/components/power-select/options.hbs#L7. For now I just changed the "groupName" name to a different name directly on my version of ember-power-select as a temporary workaround.

[2016-11-18 10:22] cibernox commented on #729
@SirZach @20v100 I think that `beta.31` fixes this problem.
Having a property `classGroup` is not enough to be a group, it also has to have an `options` property to be considered a group.

[2016-11-18 10:22] #729 closed

[2016-11-18 10:29] cibernox commented on #734
Fixed. Some kind of incompatibility between glimmer2 and liquid-fire. Updating the latter fixed it.

[2016-11-18 10:29] #734 closed

[2016-11-18 12:13] 20v100 commented on #729
I confirm that `beta.31` did fix my problem. Thanks for the fix!

[2016-11-18 14:53] mastastealth opened #736 "Result priority?"
Is there to filter certain results to the top? I was hoping returning higher values would sort them that way but it doesn't, and I couldn't find anything in the docs in regards to this.

[2016-11-18 15:19] cibernox commented on #736
Actually I designed the component with that in mind (that is why the matcher function has to return a number and not true/false) but I never finished the implementation.

If you want to give it a spike, you'd just have to improve this function to sort results based on the returned number.

[2016-11-18 16:16] mize85 opened #737 "textMeasurer undefined"
Hi @cibernox ,

Just updated ember-power-select from  0.10.1 to 1.0.0-beta.31 which resulted in an unexpected error when using power-select-multiple

_"trigger.js:60 Uncaught TypeError: Cannot read property 'width' of undefined(…)
(anonymous function)	@	trigger.js:60"_

looks like "textMeasurer" service is injected, but there is no textMeasurer service in this version anymore (or i can't find it)

[2016-11-18 16:47] cibernox commented on #737
No idea, that service still exists and its used. Do you depend on any other `ember-power-select-***` meta-addon?

[2016-11-18 17:03] mize85 commented on #737
Thx for fast reply @cibernox ,
re-installing node-packages solved it. Sry, my fault.
Keep on the good work!

[2016-11-18 17:03] #737 closed

[2016-11-18 20:22] mastastealth commented on #736
Could you point me in the right direction/file?

I would think once the matcher receives the return, there's some in between process that tosses it into `results`. The matcher itself wouldn't/can't do the sorting...could it?

[2016-11-18 20:34] cibernox commented on #736
Luckily this logic is pretty contained in a recursive function, so you can fix this without changing a single like of the components.

The point of change would be exactly this: https://github.com/cibernox/ember-power-select/blob/master/addon/utils/group-utils.js#L90

In here instead of pushing the result, it should be inserted in the right position of the array according with the number.

[2016-11-21 11:19] ngouy opened #738 "update docs/the-trigger#selected-option"
I recently update ember-power-select from an old version to the one at master.
I didn't try for 'single' power-select, but for multiple-power-select with selectedItemComponent, the keyword to access the selected item into the component is no more 'selected' but 'option'.

looking at the file  addon/templates/components/power-select-multiple/trigger.hbs

'selected' removed first => https://github.c

[2016-11-21 11:54] cibernox commented on #738
Yep, the docs were outdated there. Fixed.

Thanks for the heads up.

[2016-11-21 11:54] #738 closed

[2016-11-26 10:19] algodave opened #739 "onblur action not being invoked"
The `onblur` action doesn't seem to be invoked. Just tried to add `onblur=(action "handleBlur")` to the example in [docs/action-handling](http://www.ember-power-select.com/docs/action-handling) and dummy actions like this:

[code]

I only have `focus` logged twice when clicking on the select, but no `blur` is logged when I click outside of the select. I've walked through your code but couldn't fin

[2016-11-26 22:26] cibernox commented on #739
I'v just checked it and it seems to work. I've updated the demo page to also log the blur event so you it can also be seen in action: http://www.ember-power-select.com/docs/action-handling

[2016-11-26 22:33] cibernox commented on #739
I've also tested in multiple selects and also seems to work. Can you provide a reproduction?

[2016-11-27 18:46] ScottSmix opened #741 "accesskey to shortcut to trigger?"
I have tried a few things with triggerComponent and before-options but can't seem to find success around "accesskey". I want to set focus to the trigger component via the access key. Am I missing something?

[2016-11-27 19:38] cibernox commented on #741
I confess that I've never heard in my life of this `accesskey` thing. I suspect that this change would have to be done in `ember-basic-dropdown` (probably [here](https://github.com/cibernox/ember-basic-dropdown/blob/master/addon/components/basic-dropdown/trigger.js#L26)) and then this addon should just forward that attribute to the trigger.

[2016-11-28 20:52] algodave commented on #739
Thanks @cibernox for the prompt reply :)
I didn't have the time yet to provide you a full reproduction, the only difference I can see in my case is that I don't have any other form elements in my page together with the power-select.
I only have text, and I would expect the select to loose focus when I click on some text outside the select.
Thanks for updating the example in the docs as well!

[2016-11-28 23:45] cibernox commented on #739
I don't see the number of elements in the page affecting the result. Just to check, are you up to date on the version?

[2016-11-29 06:16] algodave commented on #739
Yes, I've also tried with master.

[2016-11-30 13:42] flyrev opened #743 "With Ember 2.9.1: Could not find module `ember-component` imported from `ember-power-select/components/power-select` with Ember 2.9.1?"
I pasted the simple example (I did not expect it to actually work, but I expected it to only complain about the missing action/whatever):
                {{#power-select
                  search=(action "searchRepo")
                  selected=selected
                  onchange=(action (mut selected))
                  as |repo|
                  }}
                  {{repo.full_name}}

[2016-11-30 13:57] cibernox commented on #743
Do you have `"ember-cli-shims"` in your bower.json? It's added by default on all ember-cli projects, but seems that you don't have it.

[2016-11-30 14:16] flyrev commented on #743
You are indeed correct! Deepest thanks.

[2016-11-30 14:16] #743 closed

[2016-11-30 16:42] Keeo opened #744 "Possible memory leak or race condition"
Selects tend to open/close slower and slower, especially ones with large amount of options. In one point it won't work correctly anymore - leaving options on left top corner of the screen. We were able reproduce it for at least few weeks. It is also happening in current build - ember 2.10.0 with ember-power-select v1.0.0-beta.31 and can be reproduced (after some time) on www.ember-power-select.com

[2016-11-30 16:46] cibernox commented on #744
Interesting. I tracked on memory leak a few weeks ago. I'll investigate this one.

[2016-11-30 18:11] flyrev opened #745 "Having to press enter twice when opening the dropdown automatically?"
On http://www.ember-power-select.com/docs/action-handling , in the section called "onfocus/onblur Actions", it works nicely to focus the text field, then TAB, and then type, but when the correct search result appears I have to press enter *twice*. Why is that? If it's intended, it seems rather buggy. :-)

[2016-11-30 22:47] cibernox commented on #745
Good catch. Just open when the component gets the focus was too naive, it had to open when the component gets the focus and the previously focused element was not already inside the select.

Thanks

[2016-11-30 22:47] #745 closed

[2016-11-30 22:53] Keeo commented on #744
I did little more testing:
 - both bugs occur even in v1.0.0-beta.**1** (ember 2.10.0)
 - to force it to render options outside you have to open it while it is still closing

[2016-11-30 22:57] cibernox commented on #744
I tried to reproduce it now, taking snapshots of the heap in dev tools and i don't see any evidence of leak. The memory starts consistent after thousands of open/closes.

Can you check that too?

[2016-11-30 23:45] Keeo commented on #744
I tried it on our app and it was not able to `build dominator tree` in reasonable time after ~20 open/closes.

1. 1 open/close
2. +10 open/close
3. +5 open/close
4. just 10 minutes of waiting

EmptyObject root was the stronger one propagating up but most of them grew.

![snapshot](https://cloud.githubusercontent.com/assets/4613001/20776112/e57518f2-b75e-11e6-8352-7975b4fba138.png)

[2016-12-01 00:17] Keeo commented on #744
I tried to measure it on www.ember.power-select.com and noticed that it may not be so good idea to test memory leaks in dev environment. So I retested it under production settings and it did not leak any memory nor it slowed down.
I think that leaves us just with `opening it while it is closing`.

[2016-12-01 08:03] cibernox commented on #744
I'll build an example with a couple hundred items to see if I can reproduce it. Are you using as options anything special, like arrayproxys, promises or things alike?

[2016-12-01 10:04] kdelvare opened #746 "allowClear=true does not clear properly"
With this code :
[code]

if I try clearing the selection, I'm left with the second part still there ("- companyName")

[2016-12-01 10:48] cibernox commented on #746
Can you provide a reproducible example maybe using ember-twiddle? This is pretty tested, so if I had to guess I'd say that there is something odd in your `onchange` action. Can you paste it?

[2016-12-01 12:37] Keeo commented on #744
I removed stuff that is not required and this is still able reproduce issue in dev environment.

[code]

[2016-12-01 13:28] flyrev opened #747 "Arrow should probably not by default be grey"
In all examples on http://www.ember-power-select.com/ the arrow is grey. This looks "disabled". By default the arrow should probably be black.

Do you have a recommended way of styling the arrow for now?

[2016-12-01 13:37] cibernox commented on #747
By default the arrow has the same color than the border (#aaa iirc).

If you are using sass, you can change many styles by defining some variables.

By example, to change both the border (and the arrow will default to this color) you can do

[code]

If you want to leave the border color as #aaa and make the arrow darker, you can change the color of the arrow alone:

[code]

You have a lot of sass

[2016-12-01 13:37] #747 closed

[2016-12-01 13:57] flyrev commented on #747
That did not work for me. See example repo at https://github.com/flyrev/ember-power-select-example

[2016-12-01 14:08] cibernox commented on #747
@flyrev You need to use sass (install ember-cli-sass), delete `app.css` and fix the syntax error in `app.scss`

[2016-12-01 14:19] flyrev commented on #747
Worked like a charm! Thanks! :D

[2016-12-01 17:24] Keeo commented on #744
I created minimal repo that is able to reproduce the issue [power-select](https://github.com/Keeo/power-select-ml)

[2016-12-01 21:48] cibernox commented on #744
I cloned the repo. While I see a small increase in the memory (from ~20mb to ~27mb after a minute clicking) nothing very dramatic. Not enough to make it crash.

I've tried to track the leak but I don't see anything. I'll ask for help for more expert debuggers than me to see if I find the issue.

[2016-12-02 11:28] Glennvd opened #748 "[Enhancement] Add ability to hide selected options from (multiple select) dropdown"
In some cases you want to hide the objects that are already added to the selection from your options in the dropdown. This currently can be achieved with the following css rule:
[code]
However, this seems rather hacky. We maybe should consider an easier way to hide these items.

[2016-12-02 11:58] cibernox commented on #748
This is already doable. I do it all the time actually.

[code]

[code]

[2016-12-02 11:59] #748 closed

[2016-12-02 12:05] Sinled commented on #588
@cibernox
Have the same error in integration tests when specifying default options for `searchEnabled`
[code]
any ideas why this happening?

[2016-12-02 12:28] cibernox commented on #588
@Sinled can you track it? The helper is trying to find the trigger and dispatch an event on it but it can't find it. Perhaps the selector is wrong?

[2016-12-04 18:23] Keeo commented on #744
Thank you, do you want to create separate issue for the bug from screenshot?

[2016-12-05 17:07] Sinled commented on #588
@cibernox it seems disabling search in `power-select` affects `power-select-multiple`, but only in one of my integration tests,
if `searchEnabled: false`
`power-select-multiple` renders without input `ember-power-select-trigger-multiple-input`
and `typeText` helper can not find corresponding helper

[2016-12-06 21:25] alankila opened #751 "Unable to use extension with Chrome extension Virtual Keyboard (xontab.com)"
I am using the extension called Virtual Keyboard on Linux-based system to create a keyboard for touch-screen systems on Linux-based appliance product. Normally, on-screen keyboards are the operating system's responsibility, but in case of Linux desktop, they come with various shortcomings such as not triggering automatically, and the problems have made an extension-based keyboard quite appealing i

[2016-12-06 22:12] cibernox commented on #751
@alankila do you have a way to reproduce this issue that you can share?

I can see why the component closes when you type on the keyboard, since the component is designed to be closed if you click anywhere outside the select, so this makes sense.

However, I don't see why the search doesn't trigger, since it's bound to the `input` event: https://github.com/cibernox/ember-power-select/blob/master/a

[2016-12-07 17:03] jakeleboeuf commented on #666
Any other known addons causing this same problem? I'm running into this issue but not using `ember-hammertime` on my project.

[2016-12-07 18:13] jakeleboeuf commented on #666
@miguelcobain or perhaps a better question, how can I track down which addon is causing this issue?

[2016-12-07 19:34] jakeleboeuf commented on #666
Maybe I'm not understanding this issue fully, but I just fixed my issue by replacing `tagName: ''` with `tagName: 'span'` in the _all_ of the following components:

[power-select.js](https://github.com/cibernox/ember-power-select/blob/master/addon/components/power-select.js)
[power-select/trigger.js](https://github.com/cibernox/ember-power-select/blob/master/addon/components/power-select/trigger.j

[2016-12-07 19:57] jakeleboeuf commented on #666
After a little more time, I realized any interaction caused things to break again. I had to replace all instances of `tagName: ''` with `tagName: 'span'` in the _every_ component in both [ember-power-select](https://github.com/cibernox/ember-power-select/blob/master/addon/components/) and [ember-basic-dropdown](https://github.com/cibernox/ember-basic-dropdown/blob/master/addon/components), and thi

[2016-12-07 21:29] jpsirois opened #752 "Installation stop at `runTopLevelLifecycles: sill install printInstalled`"
When I run `% ember install ember-power-select` it seems to run most of it’s command and at that stage hang there forever.

Here’s the output I get :

[code]

[2016-12-08 08:44] cibernox commented on #752
I don't think this is related with EPS as it was never reported before. What version of everything are you using (specially node and ember-cli)?

[2016-12-08 11:49] jpsirois commented on #752
I’m on Node `6.7.0` and ember-cli `2.10.0`.

Here’s my current project dependencies :
[code]

I’ll try to update everything to the most recent stable version and I’ll try on the side on brand new empty ember project.

[2016-12-08 12:01] jpsirois commented on #752
Ok I just tried on a brand new Ember projet with Ember-cli 2.10 & Node 6.7 and it install smoothly.

Then I compare the output and look like it was an issue when creating the `app/styles/app.scss`. Then I renamed my `app.scss` in my app that was having an issue to something else and tried again and it work.

[2016-12-08 12:27] cibernox commented on #752
can this be closed then?

[2016-12-08 13:05] jpsirois commented on #752
But, still is there a reason why an existing `app.scss` make this installation hang forever?

[2016-12-08 13:07] jakeleboeuf commented on #752
I ran into this issue yesterday after updating to latest Ember CLI AND
switching to Yarn. Are you using Yarn?
On Thu, Dec 8, 2016 at 8:05 AM Jean-Philippe Sirois <
notifications@github.com> wrote:

--
*Jake LeBoeuf* | @jakeleboeuf <http://twitter.com/jakeleboeuf>
Front End & UI/UX Engineer

Follow me: Github <http://github.com/jakeleboeuf>, Twitter
<http://twitter.com/jakeleboeuf>, and Instagram
<

[2016-12-08 13:08] jpsirois commented on #752
Yes, I’m using Yarn most of the time.

[2016-12-08 13:21] cibernox commented on #752
Oook, this is new information. I'll check it.

[2016-12-08 13:24] jakeleboeuf commented on #752
Still don't think it's EPS specific, as mine occurred while installing `ember-network`

[2016-12-08 15:32] jakeleboeuf commented on #666
Finally tracked down the culprit... Sorry for the issue spam @miguelcobain!

For anybody experiencing this same issue, looks like [ticketfly/ember-hook](https://github.com/Ticketfly/ember-hook) was the source of that attributeBindings error.

Upgrading from v1.3.1 to v1.3.5 fixed this.

[2016-12-11 15:54] alankila commented on #751
Hello.

I looked into the source code of the extension. It seems to generate change events only in response to clicks on the keyboard. This extension is one ugly piece of work for sure.

- it puts all sorts of _vk-prefixed attributes into the inputs, adding considerable noise into the DOM

- it has a numeric keyboard mode (which you can’t disable) which allows broken numeric input such as * charac

[2016-12-11 16:55] cibernox commented on #751
Yeah, it seems pretty dodgy. I'll close this for now.

[2016-12-11 16:55] #751 closed

[2016-12-12 01:35] amitkumarchauhan1987 opened #755 "power-select-multiple : selected items not showing on load if selected.length > 1"
If seleted Items array length is greater than 1 then selected items are not shown as selected upon creation of power-select-multiple object.

[2016-12-12 04:00] amitkumarchauhan1987 commented on #755
Hi @cibernox ,
can you please help me out on this, is there any workaround for this issue.

[2016-12-12 06:22] amitkumarchauhan1987 opened #756 "I am not able to pass any variable to custom trigger component"
Hi Guys,

I have written the custom trigger component.
I want to pass some variables value from power-select-multiple to this component,
Is It possible to do.

[2016-12-12 07:55] amitkumarchauhan1987 commented on #755
I am really sorry, I got the issue it was something to do with my logic.

[2016-12-12 07:55] #755 closed

[2016-12-12 08:06] cibernox commented on #756
Yes, check the`extra` option in de docs. It's a bag where you can pass anything.

Also, you can do `triggerComponent=(component "my-trigger" foo=bar)`, like with any contextual component in Ember

[2016-12-12 08:06] #756 closed

[2016-12-12 09:53] amitkumarchauhan1987 commented on #756
Thanks :+1:

[2016-12-12 11:02] kdelvare commented on #746
There was something odd with my selected item, where I build a hash to get the company value inside. I will have to do it cleaner.

[2016-12-12 11:02] #746 closed

[2016-12-12 11:17] pohodnya opened #757 "Need allowBlank option"
I need allowBlank option. When the option value is false in the drop-down list automatically selects the first item and its value is assigned.

[2016-12-12 11:26] cibernox commented on #757
Not sure if I follow. You mean that the select should, before opening it interacting with it in any form, select a value?

[2016-12-12 12:29] andreiciceu opened #758 "onkeydown example not working"
Hello,

The onkey down example provided on this page is not working
http://www.ember-power-select.com/docs/action-handling

Javascript throws the following error:
`Uncaught TypeError: this.get(...).pushObject is not a function(…)`

Replacing initialization of options with Ember.A() prevents the error.

[2016-12-12 12:33] pohodnya commented on #757
@cibernox Yes, once the page is loaded.

[2016-12-12 12:54] cibernox commented on #757
That should not be done by the addon but by the user. If you want the first option to be selected by default, a computed property will be enough:

[code]

[code]

[2016-12-12 12:54] #757 closed

[2016-12-12 13:00] cibernox commented on #758
Good catch, fixed it. I forgot I've disabled prototype extensions.

[2016-12-12 13:00] #758 closed

[2016-12-13 04:45] pohodnya commented on #757
It's not exactly what I need.
[code]
**selected** - a field of model, its value can be set and can be not set. If I'm going to use what you have to offer, **selected** will always have a value of the first options element. If I do so in the controller, then it will probably look like this:

[code]

But it is inconvenient for every occasion, especially if the same template several power-select comp

[2016-12-13 11:39] cibernox commented on #757
I understand now.
But I still think that this is pretty unidiomatic that a component like a select invokes the `onchange` action without user interaction.

Ember Power Select wants to be a _slightly_ low level component that instead of implementing every possible feature gives tools for users to do it. If you want this feature you can create a component withour markup that wraps Ember Power Select

[2016-12-13 11:43] pohodnya commented on #757
Well, I will implement special for yourself. Thanks.

[2016-12-14 10:33] vladstanca opened #760 "Dropdown closes instantly on mobile"
The dropdown disappears right away on  mobile browsers. I've tested it on Android Chrome and I've heard from someone that it's also not working in Safari. To verify, I tried loading the power select website and none of the examples work in Chrome on Android. Older versions worked fine on mobile.

[2016-12-14 11:32] cibernox commented on #760
I have a fix waiting for travis. It will be released in ~15m

[2016-12-14 12:24] cibernox commented on #760
@vladstanca The fix was performed in ember-basic-dropdown. The dependency of EPS in EBD is relaxed, so if you clean your node_modules folder and you'll get the new version and it should be fixed.
If you are using yarn you have to run `yarn upgrade`

[2016-12-14 12:24] #760 closed

[2016-12-14 13:45] orf opened #762 "Document how to use POJO's with power-select"
The documentation is kind of vague about this. It says:

`The component compares the selected option with the options in the collection by equality, so when working with POJOs bear in mind that { foo: 'bar' } === { foo: 'bar' } is false.`

It's quite a common use case where your `options` is something like: `[{display: 'Hello', value: 1}, {display: 'Sup', value: 2}]`, and your `selected` is the va

[2016-12-14 13:57] cibernox commented on #762
I doesn't support it, but it's intentional. The `selected` has to be, **by design**, one option of the list, or have it's same shape.

But it's not supported because it's trivial to do by the user, by with a computed property or, my favourite options, using the `find-by` helper from `ember-composable-helpers`.

[code]

[2016-12-14 13:57] #762 closed

[2016-12-14 14:37] orf commented on #762
Thank you! Would it be possible to add that code snippet to the documentation somewhere? The `ember-composable-helpers` sounds like a perfect way to do it.

[2016-12-14 14:42] cibernox commented on #762
Yeah, you're not the first one asking this question.
Could you do a PR to the docs? The docs are in the dummy app of this repo, and it's just plain handlebars.

[2016-12-14 14:47] orf commented on #762
Sure thing :+1:

[2016-12-14 15:03] orf commented on #762
Hmm, in your code snippet would this actually help? Surely `find-by` returns the POJO in `options`, which is fine, but `{value: 1} !== {value: 1}` right? So surely it still wouldn't be selected?

[2016-12-14 15:06] cibernox commented on #762
`{value: 1} !== {value: 1}` because they are diffent object, that just happen to have the same keys and values.

However,

[code]

[2016-12-14 15:11] orf commented on #762
Ahh I see, I understand. Thank you!

[2016-12-15 19:22] cibernox commented on #752
Apparently it's a bug in ember-cli 2.10. It happens also in other addons, like https://github.com/ember-cli/ember-cli-mocha/issues/159

Closing here.

[2016-12-15 19:22] #752 closed

[2016-12-16 21:14] uhrohraggy commented on #493
@cibernox any updates to this. still able to replicate this behavior.

[2016-12-21 23:45] koryteg commented on #719
yup. I get this too. I am returning an array ember data models directly from a query and I have to call `toArray()` on them to make the trigger and hover work correctly.
was doing:

[code]
now doing:

[code]

[2016-12-22 08:18] cibernox commented on #719
I see. I never anticipated the options to be anything other than an array, but perhaps it should be supported, if it doesn't hurt performance in the most common use case.

Can any of you provide a failing test?

[2016-12-27 14:48] omairvaiyani commented on #762
The PR needs some adjustments @orf https://github.com/cibernox/ember-power-select/pull/763

[2016-12-28 11:05] cibernox opened #770 "Missing docs about why `searchField` is required in multiple-selects with search & non-string options"
The reason is that when deleting the last option using the backspace, EPS wants to convert the option into a text and put it in the searchbox, but with objects it cannot do that without a hint.

Perhaps I could soften this warning and just delete the entire word if it's not present.

[2016-12-31 03:41] dustinfarris opened #771 "Does not work with ember-engines"
This is actually an issue with ember-wormhole—just leaving a reference.

See: https://github.com/yapplabs/ember-wormhole/issues/84

[2017-01-02 22:36] musaffa opened #772 "Cannot create custom option with substring of existing options"
In the Cookbook example for [create-custom-options](http://www.ember-power-select.com/cookbook/create-custom-options), if I try want create a `york` option, it selects the existing `New York` option. This is problematic. For example, in my tag implementation, I search tags from the API server and create a tag if it doesn't exist. Say, I have a `ember-cli` tag already in my server. Now I want to cr

[2017-01-02 22:43] cibernox commented on #772
Yes, that example is a bit naive and doesn't try cover all edge cases. In those cases I prefer to take an approach like https://github.com/cibernox/ember-power-select-with-create, which adds an fake option `Create "foobar"`. That would work for you?

[2017-01-03 08:52] musaffa commented on #772
@cibernox It works! Thanks.

It would be helpful for others as well if you add a link to this addon in that Cookbook example.

[2017-01-03 08:52] #772 closed

[2017-01-03 19:21] cibernox opened #773 "Compare equality using `Ember.isEqual` instead of `===`"
This could allow users to define their own equality-by-value functions.

[2017-01-11 01:15] ivpusic opened #775 "very bad performance when rendering array of 250elements"
I am using component like this:

[code]

When I click on it, it takes around 1second to show the list. Hovering on different countries is very slow as well. Initial rendering takes around half a second.

Do you have any ideas how can I improve performance, because 250 items should be very fast to render?

[2017-01-11 08:14] cibernox commented on #775
It is somewhat expected that render hundreds of elements takes some time, although 1s seems too much. 300ms took on my tests. Perhaps it's due to the elements being images?
What version of ember are you on? I've noticed that glimmer2 improved render times noticeably.

Generally when I render over 100 elements y prefer to render it empty let users type to filter results. I know it's not an answer b

[2017-01-11 08:43] ivpusic commented on #775
I am using latest ember + chrome. Yes, images are slowing down process a little bit, but even when I remove them it is slow.

But anyway, if this is somehow expected behavior on 250elements thank you for your help, I will see what else I can do

[2017-01-11 08:43] #775 closed

[2017-01-11 16:33] simonihmig commented on #57
Seems nobody has really tackled this so far. Need this now for a project and already did a conversion of ~90% *manually*.

The idea of having Scss automatically transpiled to Less seems interesting at first. But I think it is practically not feasible. There are things that are identical (nesting), some are probably easy to transpile (variable definitions), but other are very hard (loops) up to pla

[2017-01-11 16:40] miguelcobain commented on #57
Another option that occurred to me was to create a new addon that includes eps and adds less support if ember-cli-less is present (or whatever method we use to detect less).

[2017-01-11 16:49] simonihmig commented on #57
@miguelcobain Certainly possible. But then why is Sass support part of eps and Less not, other than personal preference? ;)

My idea was to also add a modified default blueprint that adds (or better amends the existing) `app.scss` or `app.less` based on the available preprocessor. Did annoy me a bit that I found a new `app.scss` in my Less project. ;) So eps is not opinionated about the used prepr

[2017-01-11 16:51] miguelcobain commented on #57
@simonihmig good point. I agree with you.

[2017-01-11 17:00] cibernox commented on #57
@simonihmig Yes, I chose Sass just for personal preference (and popularity). I author the styles in sass and then transpile them to css as a prepublish step.
The steps to make less a first class citizen are not that hard:

- Make Less a first class citizen in ember-basic-dropdown.
- Create an `ember-power-select.less` in the same folder than the `ember-power-select.scss` file.
- Update the `index.

[2017-01-11 17:07] simonihmig commented on #57
Cool, sounds good. Expect a PR hopefully soon...

[2017-01-12 00:55] jackmatt2 opened #777 "multiple select allows you to select the same object twice when the underlying collection is generated again."
I am using the multiple select on my page like this:

[code]

`queryFilters` is an Ember.Service that stores the selected filters so that when the user returns to the page their selection sticks around.

When I go to the page for the first time everything works, you can toggle selection by repeatedly selecting the option from the dropdown list.

When navigating away from the route and back again,

[2017-01-12 09:24] cibernox commented on #777
It is indeed because the object, although it has the same values, it's a different object.
If you can find a way of making those objects be the same you can dodge this problem, but I believe #773 is going to help you with this. I haven't had time to implement it.

[2017-01-12 11:43] #773 closed

[2017-01-12 12:06] cibernox commented on #777
I've implemented that issue, so now instead of just using `===`, this addon will use the `isEqual(other){}` function on the object if available.

This will probably make easy for you to fix this.

[2017-01-12 12:06] #777 closed

[2017-01-13 01:24] atd commented on #501
For other people looking for this, the correct way to access the publicAPI is:

[code]

as described by @cibernox in https://github.com/cibernox/ember-power-select/issues/549#issuecomment-227229404

[2017-01-16 07:56] denzo opened #784 "Is this by design?"
I found myself trying to customise the `selectedItemComponent` in the `power-select-multiple` and  needed to remove the `X` delete button on each selected item.

Then I found that `selectedItemComponent` is only replacing the content of `<li class="ember-power-select-multiple-option">` element and is inserted after the remove button.

https://github.com/cibernox/ember-power-select/blob/master/addo

[2017-01-16 08:09] cibernox commented on #784
Yeah, that is a tricky one. It was done that way because most of the time people want to customise the content of the selected item but not change the delete button. If I put the delete button inside the selectedItemController everyone wanting to change just the text would have to replicate the template logic of when the x button is displayed.

The most common thing to do with the x button is movi

[2017-01-16 14:59] BartVanBeurden commented on #20
@cibernox I'm having some problems combining this solution with asynchronous search as described in http://www.ember-power-select.com/docs/custom-search-action.
Specifically, I have following problems:

- blur seems to cancel the timeout, and the search never happens
- on tab, the close action should happen immediately while the select action should be deferred until after the search finishes load

[2017-01-16 15:14] cibernox commented on #20
@BartVanBeurden I think that this is expected. If the search has not finished how do you expect to select one item that is there yet by pressing tab? Even if you "schedule" the close until the search is finished, how do you know that you are selecting the right option if your search didn't finish?

[2017-01-16 22:38] denzo commented on #784
Ok, I see, it totally makes sense now. I used the `triggerComponent` to achieve the full `selectedItem` customisation.

Thanks for a your quick response. Loving your work!

[2017-01-16 23:09] cibernox commented on #784
Yes, that is the way to go 👍

[2017-01-16 23:09] #784 closed

[2017-01-17 20:14] sarus opened #786 "Prevent input from being cleared when input is clicked out of"
On the example page for "Creating Custom Options" if you start to type into the input and then click out of the input the text you already entered is cleared:

http://www.ember-power-select.com/cookbook/create-custom-options

Is there a way to prevent this behavior?  It seems unexpected to me when the use case for the input allows for a new entry to be created (e.g., if a user is typing something

[2017-01-17 20:21] sarus commented on #786
okay so right after I posted this I came across `trigger.js` `didReceiveAttrs`.

[code]

If I override this method with a custom trigger then it does prevent the input from being cleared.  However, now when a new  custom "option" is created it doesn't clear the typed in text.  Investigating a bit more to see if I can come up with a way to clear the input only if a new option is created (not everyt

[2017-01-17 21:25] sarus commented on #786
Overriding `didReceiveAttrs()` on `power-select-multiple/trigger` seems to do what I want:

[code]

Still testing a bit to see if I inadvertently caused a bad side effect..

[2017-01-17 22:11] cibernox commented on #786
Yes, the trigger of the multiple select it's created when the trigger gets cleared that way.

You can create your own trigger that has a different behaviour. As long as within the `didReceiveAttrs` you only use the properties and actions of the `select` object, which is 100% public API, you should be fine.

[2017-01-18 01:16] sarus commented on #786
Awesome thank you!

[2017-01-18 01:16] #786 closed

[2017-01-18 12:40] robclancy commented on #775
This is still an issue for us. Luckily only our staff has the lists with lots of items otherwise we would have to look elsewhere.

The dropdown should open close to instant. One possible solution could be the option to have the list always rendered on init but hidden so when opening you just show it which will be instant compared to processing everything when opening.

[2017-01-18 13:04] cibernox commented on #775
@robclancy Your approach also has problems.
In short, you are not making things any faster, just making the slow thing happen on initial render. If opening a dropdown with a few hundred items takes, say, 400ms, and you have 3 selects like that on a form, it will open immediatly but it will slow the render of the form 1200ms because you're rendering all everything upfront, even the options of selec

[2017-01-18 14:30] robclancy commented on #775
I can deal with 300ms of slowness in the background of the page, even 4 times. But even 200ms on input is bad for the user. Also this is why I said the option, might not have been clear. But to allow to have the list in the background so when you know it will be better that way you can do it that way.

[2017-01-18 14:45] robclancy commented on #775
Also another thought, if the dropdown opened and said loading (I assume it does this when using a task to load with ajax etc) while it was rendering. Wouldn't solve the issue but would help UX wise.

I could do this myself by making the options a task right?

[2017-01-18 14:47] cibernox commented on #775
Having the list in the background is better in this scenario (hundreds of options), but also much worse other scenarios.

For now the only thing I recommend is keep the number of items in a manageable size, and if it's too big don't display any items and allow users to type.

I'll work on making the options faster, and ember itself is becoming faster at rendering `{{each}}`, but I can't give you a

[2017-01-19 02:16] sukima commented on #685
This only works for acceptance tests where you have a full application and the async test helpers. integration tests can not use this as far as I can tell.

Is there anyway to use the test helpers for an integration test? Specifically, I have a component which uses a power-select inside it. I wish to test that my action is called when a user selects an option. Since it is a component it does not n

[2017-01-19 08:19] cibernox commented on #685
The addon also provides a few integration tests, but they are a biy more low level: http://www.ember-power-select.com/docs/test-helpers

You can use those in ember-page-object

[2017-01-19 09:36] mydea commented on #771
Just as a comment for anyone running into this, it does work when using `renderInPlace=true`.

[2017-01-19 12:09] ngouy opened #787 "clear-search button"
Hello,

Is there a way to get rid of this little grey cross button (used to clear search) ?

<img width="504" alt="screen shot 2017-01-19 at 13 06 09" src="https://cloud.githubusercontent.com/assets/12391171/22106303/6829fc80-de48-11e6-8840-1dfe85473fd7.png">

I'm not able to do it even after inspecting and DOM farming, it's inside the input but not in an :after :before selector, not in background

[2017-01-19 12:12] cibernox commented on #787
This is actually not something of ember-power-select. It's something your browser does with all `<input type="search">`. There is probably a way of hiding it with css. Perhaps `-webkit-appearance`?

[2017-01-19 12:12] #787 closed

[2017-01-19 12:16] ngouy commented on #787
Thanks a lots for you so quick answer. I'll take a look at this. I suspected it but ember-power-select is the only place I see it.

[2017-01-19 12:17] ngouy commented on #787
Solution here
http://stackoverflow.com/questions/18856246/input-type-search-hide-the-icons

Thank you again.

[2017-01-19 12:21] cibernox commented on #787
Good to know too! 👍

[2017-01-19 13:19] Keeo commented on #744
I am going to close this one since the memory leak issue which is small and present only in debug env is hardly a problem and having "memory leak" word in issue tracker is scary. I'll create new one because of the opening while closing bug tho.

[2017-01-19 13:19] #744 closed

[2017-01-19 13:27] Keeo opened #788 "Select box can get into undefined state when opened while still closing"
It is possible to get select box into undefined state by clicking on it when it is closing (like double click on opened selectbox). This closes and opens select box correctly but position class is missing as you can see on screenshot. Super fast double click is not always required - any factor that affect browser speed will make a difference like cpus that are under a load, old browsers, large amo

[2017-01-19 13:30] cibernox commented on #788
What versions are you using (and browser)?

I tried to reproduce it and I couldn't.

[2017-01-19 14:12] Keeo commented on #788
I didn't find browser and version(in reasonable range) where this does not happen.

 - Chromium 57.0.2969
 - Chrome 55.0.2883.87
 - Firefox 50.1.0
 - Opera 42.0
 - Internet Explorer 11.0.9600.18537

 - current website
 - v1.2.0
 - v1.0.0
 - v1.0.0.beta-any

You won't be able to do it on that website with normal(200ms long) doubleclick. The website is really lightweight so it will be already fully

[2017-01-19 14:34] cibernox commented on #788
I took me a while but I was able to reproduce in the **Select of strings with value tracking** on http://www.ember-power-select.com/legacy-demo which was 300 options if I throtthe the CPU 10x, but only a small fraction of the times I try so.

I'm unsure how create a consistent reproduction of this problem so I track it down. I suspect that this has to do with the ghost clone of the dropdown that I

[2017-01-19 14:40] Keeo commented on #788
Uf, I am happy that you were able to finally reproduce it. I initially wanted to create javascript code that would do it but I was not able to find working selectors for it.

[2017-01-19 18:20] sukima commented on #685
That is what I ended up doing:

[code]

Thanks.

[2017-01-19 19:43] cibernox commented on #685
@sukima That is reasonable, although the `clickTrigger()` could have worked too 👍

[2017-01-19 19:43] balajimanoharan opened #789 "Extra in custom options component"
In our application, we had built a custom options component that relied on the `extra` property passed in. We were using v0.10.11 until recently, when we had to upgrade ember.

We could reopen the template and make the change.
Was there a reason that the property was removed from the options component?

[2017-01-19 19:45] cibernox commented on #789
@balajimanoharan No reason actually, I probably removed it by mistake.
I'd take a pull request to pass it again to the options component if you feel in the mood.

[2017-01-19 19:51] balajimanoharan commented on #789
sure

[2017-01-19 21:08] balajimanoharan commented on #789
@cibernox https://github.com/cibernox/ember-power-select/pull/790

[2017-01-19 22:36] kishorekpoluri opened #791 "How to use this with options as collection of Objects?"
I am trying to get this working with Collection of Objects as Options with id and label as properties in Object. But the selected one is never highlighted.

[2017-01-19 22:40] cibernox commented on #791
Check this page of the docs (http://www.ember-power-select.com/docs/how-to-use-it), particularly this: **remember that in JS objects are compared by reference...**

The selected option has to be the exact same object contained in the collection of options. Not one with the same values, the **same** object.

[2017-01-20 08:54] #58 closed

[2017-01-20 09:46] #57 closed

[2017-01-20 09:46] cibernox commented on #791
Closing this, let me know if the docs don't solve your question.

[2017-01-20 09:46] #791 closed

[2017-01-20 09:47] #789 closed

[2017-01-20 09:49] cibernox commented on #771
This is interesting. @mydea So when running in engines the placeholder doesn't gets added to the `index.html`?

I wonder if this is something engines should take care of. Perhaps they should detect at build time the hooks of all the addons and hoist them to the parent app.

[2017-01-20 11:12] mydea commented on #771
Apparently not, I got an error that the DOM element couldn't be found.

[2017-01-20 11:14] cibernox commented on #771
I just tested it. It does work if you explicitly pass (and receive) the `-document` service of the container app.
I asked in slack and they are considering automatically inject all private services into engines, which would solve this issue.

In the meanwhile, you can pass it yourself and seems to work.

[2017-01-20 14:57] masciugo opened #792 "Is it possible to have a different HTM for options list and selected list in power-select-multiple?"
For example in the following case:

<img width="383" alt="screen shot 2017-01-20 at 15 56 20" src="https://cloud.githubusercontent.com/assets/454321/22153773/071ecad8-df29-11e6-8f97-2e344f468132.png">

I would like to only have the currency code in the selected list while keeping the whole description in the option list. Is it possible?

[2017-01-20 15:12] cibernox commented on #792
Sure it is: http://www.ember-power-select.com/docs/the-trigger

[2017-01-20 15:12] #792 closed

[2017-01-23 09:11] ykaragol opened #795 "Add html global attributes to power-select"
At least the following 2 [global attributes](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes) are needed for use:

- title
- hidden

[2017-01-23 09:15] cibernox commented on #795
The title should be easy, since ember-basic-dropdown already supports it. We just need to pass it forward.
Hidden is not implemented, so it would require changes in both projects. While I don't oppose to this one, it find it rather useless, when you could just wrap the component in a `{{#if}}`

[2017-01-25 06:30] eddiesholl opened #796 "Upgrade guide"
I have recently run an upgrade of dependencies after rolling our ember version, this library was upgraded to clean up the ember-owner-polyfill deprecation warning. I ran into a couple of changes needed after the upgrade, and couldn't find them listed anywhere. I was upgrading from 0.8.6 to 1.4.0.

Is there any use in documenting these breaking changes? I haven't yet tracked the changes to which sp

[2017-01-25 08:03] cibernox commented on #796
The changelog is what you're looking for.

[2017-01-25 08:03] #796 closed

[2017-01-26 05:14] AhmedShawkyPW opened #798 "Docs website didn't open"
When i open docs website, the website didn't open, when i checked console i found below error

[code]

[2017-01-26 14:48] cibernox commented on #798
I don't know that might going on, but I can open it. Could you check again?

[2017-01-27 09:30] badazz91 opened #800 "Passing costum classNames to power-select does not work"
When passing a custom classNames like this:

```{{power-select classNames="some-class" ...}}``` the "some-class" class does not get added to the class attribute of the DOM-node.

Otherwise when doing the same thing with ```power-select-multiple``` - it works.

Is this intended? Or simply misusage from my side?

[2017-01-27 09:51] cibernox commented on #800
The component is supposed to be tagless (the fact the the multiple select isn't it an error on my side that I have to fix).
You are expected to use `triggerClass` or `dropdownClass`.

The [API REFERENCE](http://www.ember-power-select.com/docs/api-reference) is the best reference for this.

[2017-01-27 09:51] #800 closed

[2017-01-27 10:04] badazz91 commented on #800
Ok thanks.

[2017-01-31 06:39] sibijohn72 opened #802 "Unexpected token"
Hi, i just did a fresh install of ember-power-select and i am getting this error.

`C:\setup\ember\project-cronus\node_modules\ember-power-select\index.js:7
  included(appOrAddon) {
          ^
Unexpected token (
SyntaxError: Unexpected token (
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Mod

[2017-01-31 16:17] cibernox commented on #802
My guess is that you are using an ancient version of node.js that doesn't support ES6 syntax.
This addon removes support for versions of node as soon as they enter End Of Life.

[2017-02-01 13:20] mariowilde opened #804 "How to use the Bootstrap theme with less"
Thank you for ember-power-select it's an indispensable component for our application.
Unfortunately am unable to get the new less Boostrap theme to work in ember-power-select 1.3.0 and 1.4.3.

In ember-power-select <=1.0.0 we had an app.scss file just for ember-power-select and declared the bootstrap theme in ember-cli-build.js.

This stopped working in ember-power-select >= 1.3.0.
Thus we decided

[2017-02-01 14:27] cibernox commented on #804
I haven't tested the themes in less since I myself only use sass but I'll check it.

[2017-02-01 14:40] cibernox commented on #804
I've just tested it, but because of how less works (as opposed to sass) the theme has to go AFTER the global styles

This thing worked for me.
[code]

[2017-02-01 18:07] feanor07 opened #805 "Code given for onfocus does not seem to be working anymore!"
Official [documentation page](http://www.ember-power-select.com/docs/action-handling) shows a good example to automatically open an EPS upon focus event. However, this does not seem to be working with latest release (1.4.3 as of 02.01.2017) anymore. See the [twiddle](https://ember-twiddle.com/0b92fae257f817943e595f78a0f8de11?openFiles=twiddle.json%2Ctemplates.components.modified-onfocusexample.hbs

[2017-02-01 21:42] cibernox commented on #805
Thank's for reporting. It's weird. It is working in the official docs, and the docs use the latest release.
But it is failing indeed in the twiddle. I don't know why in the twiddle it would behave differently and `event.relatedTarget` would be nil. Perhaps it doesn't work on iframes?

Have you encountered this outside twiddle?

[2017-02-01 21:54] cibernox commented on #805
I've updated the docs with your approach.

[2017-02-01 21:54] #805 closed

[2017-02-01 22:17] cibernox commented on #804
I'm closing this, let me know if it works.

[2017-02-01 22:17] #804 closed

[2017-02-01 22:17] cibernox commented on #802
I'm closing this, let me know if that was the reason.

[2017-02-01 22:17] #802 closed

[2017-02-01 22:17] cibernox commented on #798
This seems to work, so I'm closing it.

[2017-02-01 22:17] #798 closed

[2017-02-01 22:18] cibernox commented on #771
I'm closing this since it seems to be a fundamental issues with engines, not something the addon can do anything about.

[2017-02-01 22:18] #771 closed

[2017-02-01 22:19] #739 closed

[2017-02-01 22:19] #726 closed

[2017-02-01 22:20] #653 closed

[2017-02-01 22:20] cibernox commented on #602
I think that this might have been fixed already.

[2017-02-01 22:20] #602 closed

[2017-02-01 22:21] #712 closed

[2017-02-01 22:21] #630 closed

[2017-02-01 22:21] #457 closed

[2017-02-01 22:22] #492 closed

[2017-02-01 23:59] steveszc opened #806 "[a11y] Refine ARIA implementation"
The following items resulted from an accessibility audit performed by Interactive Accessibility on an app I'm working on. I'm happy to take on the bulk of the work outlined below, but some of these changes may require non-trivial changes to the architecture of some of the add-on's components. I imagine I may need some assistance to make some of these changes without introducing breaking changes to

[2017-02-02 00:10] cibernox commented on #806
I believe that this is impossible. Would it be acceptable to add the `aria-controls`/`aria-owns` only when the component opens?

Could also that agency perform an audit of https://github.com/cibernox/ember-basic-dropdown? That is the component that contains a good amound of the a11y concerns.

I believe that part of there issues arise because EPS is a combobox that is built on top of EBD, which is

[2017-02-02 09:37] mariowilde commented on #804
Thanks for the quick and helpful response.
I think technically your suggestion works .
The less Bootstrap theme plus our own styles in less still look a slightly different than the sass Bootstrap theme with modifications in less .
But I guess it is "more correct" now.
Thank you.

[2017-02-02 18:05] shankarsridhar commented on #775
Can ember-power-select use `[ember-collection](http://emberjs.com/ember-collection/)` to improve the performance and UX ?

[2017-02-02 19:42] cibernox commented on #775
@shankarsridhar It can. I know someone who did it. I created this spike but I don't really have time to finish it: https://github.com/cibernox/ember-power-select-collection

If anyone wants to explore that, please do it as a separate addon tho. In my spike I saw that for lists below a couple docens was actually slower to use ember-collection than just render the list, so I'd prefer to make it an o

[2017-02-02 20:45] monovertex opened #807 "Repeated open/close user actions increasingly slow down in Chrome (possible memory leak)"
I noticed the following situation while using a heavily modified version of EPS in our app. If the user repeatedly opens and closes the EPS dropdown, given a large number of options in the dropdown, the render time of the dropdown on each open will steadily increase.

For our customized EPS, the increase of lag duration feels almost exponential. Initially I was thinking there was some memory leak

[2017-02-02 23:30] cibernox commented on #807
I've noticed this too. In my tests this issue was only in development but in production was fine, and had something to do with some a recent change in ember for using a weakmaps internally.

Could you verify that such leak doesn't exist if you build the app in production?

[2017-02-03 07:25] monovertex commented on #807
Well, now I feel stupid. I got so engrossed in the debugging that I didn't try that at all. Indeed, the slowdown doesn't occur in a production build.

I'm guessing this is some sort of issue in Chrome when dealing with weak maps.

Would a note in the docs make sense to cover this? I know it's not an EPS issue, but maybe other people will hit this problem and at least they'd know what's causing it.

[2017-02-03 09:47] cibernox commented on #807
Don't feel bad, I also spent a good part of an afternoon looking at memory profiles before @rwjblue pointer me to test it in production.

I don't think we should document bugs *in ember* in the docs of this addon (I also think I remember a fix was on its way. Docs are about API and usage.

The title of this issue is pretty descriptive. If anyone searches for "memory leak" in github they will read

[2017-02-03 09:47] cibernox commented on #807
Thanks for caring!

[2017-02-03 09:47] #807 closed

[2017-02-03 09:52] monovertex commented on #807
Thanks for pointing me in the right direction and the great work on this addon!

[2017-02-03 15:46] jelhan commented on #685
I'm using this ember-cli-page-object test helper for acceptance tests.

[code]

I had quite a lot trouble with `infinite rendering invalidation detected` errors been thrown. Seems like `wait().then()` fixes it. But I think test helper therefore does not work in integration tests. ember-cli-page-object decides per execution context if it uses `wait().then(() => { cb(); })` or `run(() => { cb(); })`

[2017-02-04 16:25] pdougall1 opened #809 "Document a suggestion to add test globals to test jshint"
on [this page](http://www.ember-power-select.com/docs/test-helpers) it would save n * 20 minutes of frustration to suggest the globals  (selectChoose, selectSearch, removeMultipleOption and clearSelected) be added to the `test/.jshintrc`.  It might seem obvious to some but definitely not all 😄

Thanks for all the great work and the great addon!

[2017-02-04 19:56] cibernox commented on #809
If you fancy creating a PR with what you think would be the right explanation, the docs page is just part of this repo. This would be the place: https://github.com/cibernox/ember-power-select/blob/master/tests/dummy/app/templates/public-pages/docs/test-helpers.hbs

It also worth mentioning ESLint.

[2017-02-08 03:43] akatov opened #810 "remove ember-truth-helpers from dependencies"
is it really necessary to bring them in as a dependency? Would you consider moving them to devDependencies for the dummy app, and I could submit a PR that replaces all usage of truth helpers in the addon with computed properties?

[2017-02-08 09:07] cibernox commented on #810
I don't think that a refactor to use computed properties would work because those helpers are usually used from within loops, and you cannot refactor those into computed properties. Example:

[code]

Why do you want to remove it? Ember truth helpers is already used in 8 or 9 out of 10 ember apps, so for most of them this dependency adds no extra weight.

[2017-02-08 09:51] miguelcobain commented on #810
@cibernox where did those statistics came from? I'm curious. I don't personally use it.

The way to do this would be to create an auxiliary computed like:

[code]

I think every byte and build second is important when talking about such a widely used addon such as eps. :)

[2017-02-08 22:36] cibernox commented on #810
It was an unscientific estimation, based in the projects I've seen.
In https://emberobserver.com/ it's the most used used addon among the non-official ones (i'd consider ember-cli-sass official-ish).
It's also a runtime dependency of a few very popular addons (even excluding EPS & family).

Besides, it's just 122 lines of JS.

I'd be happy to remove it if a CP approach proves to be faster tho, but

[2017-02-08 23:37] akatov commented on #810
@cibernox I agree that using the `eq` helper is the easiest way to use eps, but I don't see why I should be forced to use it if I don't want to. I for one don't like ember-truth-helpers because a) I don't think they're consistent and b) they encourage putting too much logic in the template.
More importantly, I'm not talking about changing the dummy app to use computed properties - I think it's act

[2017-02-08 23:48] cibernox commented on #810
Using a computed property in a component will be a bit complicated because what I mentioned. The helper is used from within a loop, but if you find a way go ahead.

Just take into account that you must use `Ember.isEqual`, not just `===`.

[2017-02-09 12:25] mupkoo opened #812 "`typeInSearch` test helper is not working if you have a power select after multiple one"
If you have a component that has a multiple select and a select after the multiple one like so

[code]

`typeInSearch` always searches in the multiple one.

One way to improve this, is to add `scope` to `typeInSearch`. The other way is to export `typeText` as well, so it can be used as well.

Let me know what do you think, and I will open a PR.

Thank you :)

[2017-02-09 12:45] cibernox commented on #812
Yeah, that would be a good addition. I'd prefer the first argument of the function to be the scope and the second to be the text for consistency, but since the scope will be optional you'll have to check for the length of the arguments to consider the text the first or the second argument.

There isn't any test for integration test helper (there is for acceptance tests tho). Could you create a new

[2017-02-09 22:53] AlekzZz commented on #588
I don't use `power-select-multiple` yet i get this error.

[2017-02-09 23:05] cibernox commented on #588
@AlekzZz This basically means that the helper cannot find the trigger. Very recently (a few days ago) I've improved the test helpers to work when the given selector belongs to the trigger itself. Make sure you have the last version of ember-power-select and ember-basic-dropdown (0.22.4)

[2017-02-09 23:18] AlekzZz commented on #588
@cibernox oh man, i just realized the problem... and it is my fault, I added `searchEnabled: false` by default but my tests were still doing `typeInSearch` in some cases... my bad sorry.

[2017-02-10 10:42] #812 closed

[2017-02-10 10:43] mupkoo commented on #812
Closed by #813

[2017-02-11 06:55] dephora opened #814 "Material Theme - Display Floating Label"
Within the Material Theme - would it be possible to allow for an option to leave the floating label displayed upon focus instead of destroying it with a selection?

[2017-02-11 15:31] cibernox commented on #806
I've experimented quickly with mixed results.
I was able to make the single select (using voice over) to work reasonably well when the search is disabled. It tells you the option you are highlighting and allows you to select it.
I couldn't make it work easily when the search is enabled. I think that in that case the searchbox must be considered a combobox inside another combobox and must have its

[2017-02-13 12:22] cibernox commented on #814
@dephora Sadly that is not possible just just the CSS theme since it's just a bunch of CSS properties over the default styles. For a more accurate material-design flavour, check https://github.com/miguelcobain/ember-paper.

The select is based on ember-power-select, but the appearance and behaviour is customized much deeper.

[2017-02-13 12:22] #814 closed

[2017-02-14 06:01] kybishop opened #815 "Performance issues when dealing with large datasets"
Since #775 is closed, I wanted to open a separate issue as a POC for dealing with large datasets.

As it stands, a dropdown for `moment.tz.names()` (about 590 items) takes > 5 seconds to render on my MacBook, and the eventual dropdown has performance issues that prevent it from being of much use (scrolling, hover effects, and typing in the search box are very laggy).

Constraining results via [the

[2017-02-14 10:14] wmlele opened #816 "power-select-multiple onfocus/onblur"
I am having issues with power-select-multiple, where, after the selected value has changed the first time, each subsequent click in the input area causes multiple calls of the onfocus/onblur actions.

My code is pretty much as the given example:

[code]

The issue seems not to happen if name is not mutated.

[2017-02-14 11:58] cibernox commented on #816
can you create a twiddle to reproduce it? I guess that if the action is being called several times is because the focus event is really being fired that many times.

[2017-02-14 12:01] cibernox commented on #815
What I do in those cases is to show, say, 50, and allow users to search for more results.

I'd like someone to explore a variation of ember-power-select that uses smoke-and-mirrors to render an infinite list, but I don't have time myself for that. That would fix this problem.

However, 5s is a lot. Is that in production? For me ~600 items takes less than 2 seconds in production (still too much, bu

[2017-02-14 19:17] kybishop commented on #815
Didn't realize going to prod would make such a drastic difference; I'm at < 1s to render with a workable dropdown.

I still might spike the Smoke & Mirrors implementation to improve performance on mobile.

[2017-02-14 19:28] cibernox commented on #815
Yeah, production can be several times faster sometimes. I did spike this briefly using ember-collection once, but it was just a 1h spike to prove that it was doable: https://github.com/cibernox/ember-power-select-collection

You could use that for inspiration.

[2017-02-19 05:24] JoshSmith opened #822 "Allow onchange to optionally clear selected value when selecting the selected value?"
I had anticipated that selecting an item would allow for a "deselection".

It appears, however, that the addon explicitly prevents this behavior:

[code]

I would love to have `onchange` (i.e. `select`) only compare with `isEqual` by default, but be configurable to pass the action upwards, perhaps with an `allowUnselect` or similar.

The documentation around `onchange` is confusing, too, because i

[2017-02-21 00:31] #822 closed

[2017-02-21 01:11] JoshSmith opened #824 "Add example (to docs) and test for buildSelection"
Following up on #823, we need to:

- add an example to the documentation for `buildSelection`
- add a test for this

@cibernox please feel free to bug me about this in the event I fail to follow up quickly.

[2017-02-23 03:49] Subtletree commented on #493
+1

[2017-02-23 10:15] cibernox commented on #493
I don't have much time to work on this, but if someone wants to tackle I'd be happy to assist. I think that it should be supported.

In the meanwhile, you can use strings.

[2017-02-23 10:37] yuriyk commented on #463
@cibernox does `Reopen` allow now to add custom `data-` attributes?

[2017-02-23 10:39] cibernox commented on #463
probably, yes. You probably want to reopen or reextend the trigger component tho.

[2017-02-23 12:01] yuriyk commented on #463
yes, `Reopen` allows to add custom attributes:
[code]
thank you, @cibernox

[2017-02-28 03:16] denchen opened #831 "Just want some clarification on Trigger override"
Not an issue, but I just wanted clarification. If I want to override the trigger with my own HTML markup, I have to create a new component, correct? Even if it's a simple change, like say replace the trigger with just the text "foo" or just an icon? I ask because in `ember-basic-dropdown`, I can override the trigger by simply:

    {{#basic-dropdown as |dd|}}
      {{#dd.trigger}}foo{{/dd.trigger}

[2017-02-28 09:21] Senthe opened #832 "Allow option to render dropdown as an input that is searchable and opens the list when focused"
This is so simple and intuitive behaviour I'm really surprised it isn't implemented yet. Am I missing some reason for this or some simple workaround?

[2017-02-28 12:03] brunowego commented on #688
Same issue here... 👍

[2017-02-28 12:05] cibernox commented on #688
I need steps to reproduce. Browser, versions, workflow, etc..

[2017-02-28 12:06] cibernox commented on #832
Perhaps `ember-power-select-typeahead` is what you want? There is a few addons built on top of this addons with different flavours of select.

[2017-02-28 12:12] cibernox commented on #831
I have in my plan to expose a lower-level API to allow different things. The tentative API would be something like

[code]

So people have more fine-grained control over everything, but don't expect it soon. For now you do have to create a new component (the JS it can be just import and reexport the default trigger) and provide your own template (it can be a copy-paste of the original one with you

[2017-02-28 12:12] #831 closed

[2017-02-28 12:12] miguelcobain commented on #832
This is the default UI for selectize. I also tend to like it more than the "input in content", but that's just my personal taste.
It also seems closer to the multiple select.

[2017-02-28 12:19] cibernox commented on #832
I understand.

There is room for a new addon then. One that just implements this new trigger.
Tentative name `ember-power-select-search-in-trigger`, which exposes a `power-select/trigger-with-search` components. It will be pretty similar to the `beforeOptions` component.
It can either be passed on a per-case bases or it can be configured as the default trigger using the instructions [here](http://

[2017-02-28 12:24] miguelcobain commented on #832
What selectize does is to create a "fake" input and render the option there. Then it places a real input next to it. It works pretty much like the multiple select here works, I think.

[2017-02-28 13:11] Senthe commented on #832
I found a workaround just using following styles in SASS to "disguise" the trigger while using renderInPlace=true option:

[code]

Of course that's not perfect and has some issues with for example focus/Tab button flow, but it's good enough for me.

[2017-02-28 15:13] nmec opened #833 "Search and Options not working together"
## Summary
When trying to use `options`, `search` and `searchField` together the list is not filtered correctly.

## Steps to reproduce
[code]
[code]
[code]

## Expected behaviour
- Open drop down
- Observe list is populated with locations
- Begin typing in search
- Observe list begins filtering locations immediately
- AJAX request sent after debounce timeout
- Additional matching locations are ad

[2017-02-28 15:25] cibernox commented on #833
I'd have to check, but I believe that if a search is passed, that takes absolute precedence. There is no such thing as a mix and max of filtering + search. I'm not even sure what the right behaviour would be.

Your use case is interesting, I'm not sure how to achieve it.

[2017-02-28 16:30] nmec commented on #833
Tried a quick workaround that I thought might work, removing `searchField` and implementing filtering myself - but having the same issue with the items just being appended:
[code]

[2017-03-01 00:27] denchen commented on #831
Thanks for the clarification. Creating components for triggers does work for us currently, but I do look forward to the lower level API you have in mind.

[2017-03-01 21:02] rondale-sc opened #838 "Fresh npm install gives beta release"
When I do `ember install ember-power-select` I get "^1.5.0-beta.2" as my version

[code]

Not sure if that is intended or not.  :beers:

[2017-03-01 21:04] cibernox commented on #838
Yes, it's perfectly usable.
I only labeled it as beta because a some sensible a11y changes that nobody complained about. On a fresh install it's the version to use.

[2017-03-01 21:04] #838 closed

[2017-03-01 21:05] rondale-sc commented on #838
Awesome.  :)

[2017-03-02 16:10] anthonycollini opened #841 "Scrolling on mobile"
Scrolling on mobile is not as fluid as a native select or other packages. It is choppy and hard to scroll through results. Is this on the radar at all?

[2017-03-02 16:34] cibernox commented on #841
No, it wasn't. I used it several times and it was absolutely fluid for me.
I just recorded this: https://www.youtube.com/watch?v=oizT8Xmj2UI&feature=youtu.be

In reality it's more fluid even, but this I can't record at 60fps with this software.

[2017-03-02 16:35] cibernox commented on #841
What might take some time is to open selects with a lot of elements, but once opened scrolling should be as smooth as any other scroll on the page.

[2017-03-02 23:37] anthonycollini commented on #841
Here is a .gif of an example on this page on iOS:
http://www.ember-power-select.com/cookbook/material-theme

![scroll](https://cloud.githubusercontent.com/assets/933222/23532006/3a775f12-ff77-11e6-998f-63061aa641b2.gif)

[2017-03-03 02:36] gregattra opened #844 "Selecting an option does not update the displayed selected value"
The example on the webpage for this addon doesn't update the selected option when you make a change. So if I select from the dropdown, the select 2 still appears blank. This is the same for my app when I try to implement power select.

[2017-03-03 02:55] #844 closed

[2017-03-04 21:42] jamesdixon opened #846 "async content in list"
Hi,

Once again, great addon!

I'm running into an issue where I can't seem to render async relationships within the list. The scenario is this, each customer has a primary staff member that works with them. In the EPS dropdown, I want to highlight these particular staff members based on whether or not the staff member is a primary for their account. Each `customer` has an `account`, which has a `

[2017-03-04 22:29] cibernox commented on #846
There is a lot to grock there. As you mention at the end, it doesn't make sense that there is one member missing. The only reason for that is that the missing member is not among the given options.

Can you confirm that `Marlin Dietrich` is part of `model.business.activeStaff`? That is the only think EPS cares about.
If so, can you check if there is no option between Roxanne and Eloise? Perhaps th

[2017-03-04 22:51] jamesdixon commented on #846
@cibernox thanks for taking a look. It turned out be something unrelated to EPS, but the weirdness of it had me coming back to EPS because I couldn't reproduce elsewhere. Apologies for bothering you. Keep up the great work!

[2017-03-04 22:51] #846 closed

[2017-03-06 15:18] anthonycollini commented on #841
@cibernox Can you confirm this occurs for you on iOS. It looks like android is fine, which is what you are probably testing on.

[2017-03-06 15:36] cibernox commented on #841
I haven't tested it in iOS, but I'll try to get a device. For what I see in your video, it's like the scroll didn't have inertia. No clue why.

[2017-03-06 19:28] anthonycollini commented on #841
I will try later, but perhaps it's missing a webkit declaration?

https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/

[2017-03-06 20:24] cibernox commented on #841
That sounds very reasonable. Is that something you can test yourself?

[2017-03-10 10:05] cibernox commented on #841
@anthonycollini any update? Were you able to test that css property?

[2017-03-14 20:44] elendil1979 opened #857 "How clear the selected value from controller action?"
Hello,

i need clear the selected value of a ember-power-select component in my template, after the controller complete a action.

For example:
run the save action in controller and i need clear all input data and ember-power-select too

I need help urgently, thanks

[2017-03-14 20:46] cibernox commented on #857
Asuming your invocation is `{{#power-select selected=foo ...}}`, just do `this.set('foo', null)` and you'll clear the select.

[2017-03-14 21:04] haldiggs commented on #530
it might look weird but
    $($('.ember-power-select-trigger')[0]).focus()
seems to work in both Chrome and Edge browsers

[2017-03-14 22:25] cibernox commented on #857
I'm going to close it, let me know if your question is not answered.

[2017-03-14 22:25] #857 closed

[2017-03-16 14:41] rinoldsimon opened #858 "power-select-multiple able to add same options multiple times where Options as an array of objects."
hbs:
[code]
js:
[code]
the return response for `selectMember` action
[code]

[2017-03-16 14:55] cibernox commented on #858
Read this section of the docs: http://www.ember-power-select.com/docs/how-to-use-it

Td;dr; `{ foo: 'bar' } !== { foo: 'bar' }`. If you want two options to be considered the same options they have to:

A) Be the exact same object (not an object with the same values)
B) Implement an `isEqual` function that tells `Ember.isEqual` how to compare them.

[2017-03-16 14:55] #858 closed

[2017-03-16 15:01] rinoldsimon commented on #858
I'm able to select the same options multiple times. so there multiple entries with the same options. Do i need to manually check whether the selected option is already in the selected list of power-select-multiple?

[2017-03-16 15:34] cibernox commented on #858
The key thing that you have to understand is that the second time you select it, it's not the same option, it's a different option that happens to have the same values. `{ foo: 'bar' } !== { foo: 'bar' }`

You need to make the option have an `isEqual` function to tell ember-power-select how to compare them, or alternatively ensure that you're returning the exact same objects.

[2017-03-20 11:12] Caltor opened #860 "Almost working!"
I have almost got the ember-power-select addon working in my project. The only problem I have is that on first load the trigger is empty. If I select an option it seems to update the trigger OK and it saves OK. However when I do a refresh on the page it loses the trigger again. Here are the relevant sections from my code:

HBS
{{#power-select
  options=families
  selected=model.family
  searchFiel

[2017-03-20 11:20] cibernox commented on #860
Unless I'm missing something, what you mention is perfectly normal. If you refresh you will loose any change you haven't saved.

[2017-03-20 11:32] Caltor commented on #860
Ah I should have said, I have a Save button as follows:

HBS
`<button {{action "saveModel" model}} class="btn btn-success">Save</button>`

JS
[code]

Interestingly a basic select as follows works fine:
HBS
[code]

JS
[code]

[2017-03-20 11:47] cibernox commented on #860
If the trigger is empty means that `model.family` is empty/null/undefined too. Check that. If it's empty means the way you set the value is not working as you expect it to work.

[2017-03-20 13:27] Caltor commented on #860
Hmmm model.family doesn't seem to be getting set properly. Thanks for your help!

[2017-03-20 13:27] #860 closed

[2017-03-20 14:25] Caltor opened #861 "Clearing multiple select"
I am currently using the power-select-multiple to choose items which will be added to a collection. How can I clear the selection when a user clicks the Add button please?

Here is my code:
.hbs
[code]

.js
[code]

[2017-03-20 14:30] cibernox commented on #861
@Caltor Nothing special. Just do `this.set('apps', null)` and the select will be empty, since that is what you pass to `selected=`

[2017-03-20 14:30] #861 closed

[2017-03-20 14:34] Caltor commented on #861
Haha brilliant! Thanks. I was overthinking it, trying to come up with ways to alter the selected property of the select.

[2017-03-20 17:51] maladon opened #862 "action.close() not closing"
I have a requirement where the user can only select at most 3 items. I'm following the example from here: https://github.com/cibernox/ember-power-select/issues/288

But, when I  do select.actions.close() nothing happens!

[2017-03-22 16:35] leizhao4 commented on #841
The link above says `overflow-y` needs to be `scroll`, not `auto`, which might be a problem. I believe the drop down is `overflow-y: auto`.

[2017-03-22 16:45] cibernox commented on #841
I understand, I just want someone with an ios devise to test that it works and implement it.

[2017-03-23 14:50] #711 closed

[2017-03-23 16:36] luketheobscure opened #865 "Request: Expose some method for infinite scroll/pagination"
I've been trying to implement infinite scroll with ember-power-select, and none of the available public API's allow a clean implementation. The closest I got was using the `onopen` hook, but since the list is not rendered when `onopen` fires the implementation looks like this (CoffeeScript.... don't judge...):

[code]

There's two issues with this approach:
- The event target is sometimes the sele

[2017-03-23 18:04] trumb1mj opened #866 "Assertion Failed: You modified "concatenatedTriggerClasses" twice..."
I'm seeing the following error when I click a drop down and then click on a very specific component.  I thought maybe it had something to do with blur but I could not reproduce unless I clicked on this component.

Here's the message:

"Assertion Failed: You modified "concatenatedTriggerClasses" twice on <my-webapp@component:power-select::ember2561> in a single render. It was rendered in "component

[2017-03-23 18:48] trumb1mj commented on #866
`
assert @ ember.debug.js:5700
assert @ ember.debug.js:17372
assertNotRendered @ ember.debug.js:23065
propertyDidChange @ ember.debug.js:21681
(anonymous) @ ember.debug.js:21759
Meta._forEachIn @ ember.debug.js:19786
forEachInDeps @ ember.debug.js:19759
iterDeps @ ember.debug.js:21747
dependentKeysDidChange @ ember.debug.js:21723
propertyDidChange @ ember.debug.js:21663
notify @ ember.debug.js:164

[2017-03-23 19:52] victor95pc opened #867 "selectChoose not working on integration test"
I made the import on ember power select test helpers, my app name is "juridico-sengerj'

[code]

But when I ran the test it didn't return nothing only shows "0 assertions of 0 passed, 0 failed.", no log message, anything.

package.json:
[code]

[2017-03-24 00:28] snewcomer commented on #867
Did you import it in your start-app file?

http://www.ember-power-select.com/docs/test-helpers

[2017-03-24 00:34] snewcomer opened #868 "Test Helpers - pass a DOM element?"
Now that selectSearch uses native-events, doing something like below does not work anymore, specifically b/c of this [line](https://github.com/cibernox/ember-power-select/blob/master/test-support/helpers/ember-power-select.js#L123).  What do you think about refactoring the selectSearch to also take a (potential) dom element?  I can submit a PR, but wanted to run it by you first before tackling.

[

[2017-03-24 00:48] cibernox commented on #867
`selectChoose` is a test for acceptance test, not for integration. It is expected that it doesn't work.

The addon also provides a few helpers for integration, but for the most part I'd recommend you try https://github.com/cibernox/ember-native-dom-helpers and just use `click` & `fillIn` as you would with any other element.

[2017-03-24 00:48] #867 closed

[2017-03-24 00:50] cibernox commented on #868
It sounds reasonable to me to accept a HTMLElement instead of a CSS selector.
I'd accept at PR like that.

[2017-03-24 02:35] victor95pc commented on #867
I follow this addon, but it's not working too, I setup a test like this

[code]

I just copy/paste a example but it result the same problem above, nothing run.

[2017-03-24 02:39] snewcomer commented on #867
@victor95pc an ember twiddle would help if you are still stuck after reading through some documentation below :)  https://ember-twiddle.com/

Most likely this is test setup problem (i.e. no `-test.js` at the end of the file name) or perhaps something else.

http://www.ember-power-select.com/docs/test-helpers

[2017-03-24 03:01] victor95pc commented on #867
it's very strange, the test run normal, but when I add, it doesn't run, the file is prefixed with "-test" in the end.
[code]

my start-app looks like this
[code]
Can't find any reason it's not running, the worst part is not even know where it fails.

[2017-03-24 10:28] ChrizzDF opened #870 "Option for explicitly not importing default styles"
Hi there,

I really love your addon and anywhere in my apps I have to use a select box, I use ember-power-select! 😀

Currently I'm implementing [ember-css-modules](https://github.com/salsify/ember-css-modules) in my Ember app and therefore I'd like to avoid importing the `ember-power-select`styles by default because at the end it generates CSS output that is not even used.

Is there any option to

[2017-03-24 10:41] drallieiv opened #871 "power select does not pass ember-a11y checks"
https://github.com/ember-a11y is a plugin that does accessibility check and ember-power-select show a few errors.

Is it possible to fix them or add custom config to avoid them ?

I'll add below a few of the errors the plugins gives me

[2017-03-24 10:46] drallieiv commented on #871
[aria-valid-attr-value](https://dequeuniversity.com/rules/axe/2.1/aria-valid-attr-value)
for tag ` aria-controls="ember-power-select-trigger-ember489" `
there is no element in the dom with that id

[2017-03-24 10:48] cibernox commented on #870
If you are using ember-cli-sass that is already how it works.
If you don't add `@import 'ember-power-select'`, the component has no styles.

[2017-03-24 10:51] cibernox commented on #871
Are you on the latest version? I'm aware of a couple a11y things that can me improved, but that one in particular I think that was fixed here: https://github.com/cibernox/ember-basic-dropdown/pull/224

[2017-03-24 11:08] drallieiv commented on #871
one other rule is this one : ["aria-required-children"](https://dequeuniversity.com/rules/axe/2.1/aria-required-children)

role="combo-box" must reference id of either a listbox or textbox with aria-owns attribute

[2017-03-24 11:12] ChrizzDF commented on #870
Thanks for your quick reply!

I just set up a new, clean Ember project to prove it.
You're right - obviously! 😄

The good thing is that I now know that something else causes styles to be imported automatically.

Thanks again!

[2017-03-24 11:12] #870 closed

[2017-03-24 11:15] cibernox commented on #871
@drallieiv can you check the version of ember-basic-dropdown?

[2017-03-24 12:35] simonihmig commented on #867
Just stumbled upon this. For a project I made a `selectChoose`-ish helper that mimics the semantics of `selectChoose`, but works for integration tests. I find this quite useful for components tests, as it abstracts away the power-select specific internals like identifying the trigger button, clicking that before looking for the the option list etc.

I just had to update it because of the recent a1

[2017-03-24 12:56] cibernox commented on #867
When I first created the helpers I though that if people was testing EPS in integration test they would want fine-grained control over what is going on, so I reserved the helpers that do everything for acceptance.

If we introduce this helper I'd like to introduce it following the patterns in ember-native-dom-helpers. That is, there is a single helper that works in both integration and acceptance

[2017-03-24 13:06] drallieiv commented on #871
npm -g ls says ember-basic-dropdown@0.31.1

[2017-03-24 13:11] drallieiv commented on #871
Third one is [](url)

ìn the selected line : `li aria-selected="false" aria-current="true"`

`aria-current` does not exist in the aria specifications : https://www.w3.org/TR/wai-aria/states_and_properties#attrs_widgets

[2017-03-24 13:15] cibernox commented on #871
Added proper labels. I won't have time next week as I'll be travelling

[2017-03-24 13:37] victor95pc commented on #867
I really like the new way, it's less magic and more easy to understand, @simonihmig can you send my this repo?

[2017-03-24 14:09] simonihmig commented on #867
@cibernox for a component that maybe extends eps fine-grained control makes sense. But I have a number of components where this is not needed, like components that implement a certain form, where I want to test e.g. that an action is called when submitting valid data. So I need a `selectChoose` helper there. (Actually using `ember-cli-page-object`, so I can abstract the type of select (native or e

[2017-03-24 14:39] cibernox commented on #867
@simonihmig Yes, I agree that that kind of helper might come handy.

I just think that the best approach is having a single helper that works in both integration and acceptance. Besides, that kind of helpers would be something you just import, so you wouldn't have to register it, which is something I've always found annoying.

[2017-03-24 14:46] simonihmig commented on #867
Sure, I like that. Anything special I should be aware of to make it also usable in acceptance tests? Should I generally wrap all async stuff in a `run()`?

Maybe I can try to put a PR together, so we can discuss this better on some concrete code?

[2017-03-24 14:50] cibernox commented on #867
Wrapping everything in an Ember run is one step. Another is to stop using `andThen` and just use promises (async/await helps a lot on that).

Are you going to emberconf? We could discuss there. I fly tomorrow so I won't have time.

[2017-03-24 15:47] snewcomer commented on #867
@victor95pc `import { selectChoose } from 'juridico-sengerj/tests/helpers/ember-power-select'` if modulePrefix in your environment file is `juridico-sengerj`

[2017-03-24 16:13] snewcomer commented on #862
@maladon are you on Ember 2.12? I'm seeing this when trying to upgrade my fork of this.

For ex// this [test](https://github.com/cibernox/ember-power-select/blob/master/tests/integration/components/power-select/customization-with-compoments-test.js#L142)

[2017-03-24 17:01] victor95pc commented on #867
Thx everybody I use @simonihmig's gits, if you guys want I can translate this gist to follow the patterns in ember-native-dom-helpers

[2017-03-27 12:29] AdrienNguyenWorldline commented on #871
As a summary, I think ember power select is in advance and use tags from WCAG 1.1 but ember-a11y-testing only supports WCAG 1.0

https://github.com/ember-a11y/ember-a11y-testing/issues/75

[2017-03-27 18:39] tinyweasel opened #876 "Power select multiple won't update hasMany relationships"
Trying to use a select dropdown to update a model with a lot of hasMany relationships using JSON API. When you select a belongsTo relationship from the dropdown, it sends the request and updates fine, but it's not sending the data for hasMany. The dropdowns are populated with these properties and the current model properties are preselected, so it is getting the data from the server correctly, but

[2017-03-29 08:26] tinyweasel opened #877 "Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node."
I'm populating these power select multiples with model properties, with existing model data preselected. Most of them work perfectly, but two of the dropdowns throw this error, one of them once, and one of them repeatedly. There doesn't seem to be a problem with the models as they're defined in the same way as the working ones. Has anyone else had this problem, or know how to fix this?

[2017-03-29 08:28] tinyweasel commented on #877
It also gets the same error on form submission, though the PATCH request does go through successfully.

[2017-03-29 18:39] luketheobscure commented on #815
FWIW, performance is very different if the inspector is open. I can't tell you how many times I was troubleshooting a perceived performance issue that magically went away when I closed the inspector.

[2017-03-30 18:32] HerveSeger opened #879 "[How-to] Assign search text to `selected` attribute when `no results found` and `Enter` pressed"
Hi.

I have reviewed  the API, the examples but so far, no luck so here I am.

I want to use an EPS component to give users the ability to search and select from within a list of drugs retrieved from a remote repository. It works well, no problem here.

The issue is that in some cases maybe the drug name searched by the user will not be found in the remote repo so the list of results is empty.
In

[2017-03-31 08:00] HerveSeger commented on #879
After further investigation, I think that my requirements do not really fit with what EPS has been designed for.  I need to find another component (more `type ahead` type than `autocomplete`).

I close this issue.

[2017-03-31 08:00] #879 closed

[2017-03-31 09:54] jamesstonehill opened #880 "`matcher` attr fuzzy matching"
I've got a list of countries in JSON format like so:
[code]

At the moment I'm using power-select to allow the user to search by either the `number` or `name` properties by using the `matcher` option. My matcher code is:
[code]

I need to concatenate a lower case version of the fields onto the matcher because if I don't then the matcher is taken literally and I only get exact matches. For example

[2017-03-31 16:32] brancusi commented on #866
Getting this as well. Trying to upgrade an app from 2.7 -> 2.8, bunch of changes, so can't easily say where it's coming from yet.

[2017-04-01 08:54] HerveSeger commented on #879
The answer to my question was:
[`ember-power-select-typeahead`](https://github.com/cibernox/ember-power-select-typeahead)
with a light customization.

[2017-04-02 17:11] evoactivity commented on #321
I'm posting in this old issue as none of the options work for me.

I have a panel that has an outlet, but my outlet in it is a `liquid-outlet` so `renderInPlace` and `destination` both don't work because the height of the outlet is defined by by liquid-fire, so the result get cut off by the overflow and `destination` doesn't work because it's getting it's offset from the window left and not from i

[2017-04-03 00:34] daegun commented on #866
+1

We recently started seeing this issue as well, happens pretty often actually.

[2017-04-03 09:21] cibernox commented on #880
You can. I made the default matches function an exported util: https://github.com/cibernox/ember-power-select/blob/master/addon/utils/group-utils.js#L970

It doesn't use *fuzzy matching*, but it normalizes diacritics like `áàøçĉ` and such. If you invoke it with `defaultMatcher(concatenatedFields, searchTerm)` you will get the default behaviour searching on both fields. But it's not fuzzy.

[2017-04-03 09:22] cibernox commented on #880
I'm going to close this, but feel free to repopen if it doesn't solve your problem.

[2017-04-03 09:22] #880 closed

[2017-04-03 10:49] cibernox commented on #876
I think I'm going to need more information or an example so see what are you doing, but EPS's `onchange` callback is just invoked with an array of the selected values. Is not this component's concern what you do with it. If you want to set the value of a has-many relationship and send a request to the server you must do that yourself.

[2017-04-03 10:50] cibernox commented on #877
Without a reproduction example is hard to get any idea of what is going on. Also, knowing the versions of EPS and/or ember would help.

[2017-04-03 13:00] trumb1mj commented on #866
I ended up upgrading to a pre release version `"ember-power-select": "v1.6.1"` and this has not come up again.

[2017-04-03 13:11] cibernox commented on #866
To everyone with this issue, check updating to 1.6.1, since I might have fixed a while ago already. Please reopen if this persist.

[2017-04-03 13:11] #866 closed

[2017-04-03 18:49] daegun commented on #866
thanks!

[2017-04-03 20:49] daegun commented on #866
actually this problem is still occurring in the app I'm working on

we're using this in conjunction with power-select-with-create, and we've updated the versions for them - `1.6.1` and `0.3.1` respectively, and we're still seeing this issue occur.

I'm digging deeper to see why it's still happening.

[2017-04-04 18:07] sauronnikko commented on #866
We're getting similar assertion errors in our project:

[code]

The conflict is happening between `ember-power-select` and a custom component, `file-upload`, which extends from [ember-uploader](https://github.com/benefitcloud/ember-uploader). Perhaps this isn't `ember-power-select`'s fault, but given that similar errors have been reported here, we thought it best to post this.

We're using version

[2017-04-07 15:57] alecho commented on #866
I'm seeing the same thing as @sauronnikko when upgrading to `2.12` except we're using EPS correctly and then extending the components for our use.

[2017-04-07 21:45] cibernox commented on #866
So far all reporters were in older versions of the addon, 1.6.1 seems to be free of that bug. @alecho can you check?

[2017-04-08 11:10] monovertex opened #883 "Id attribute for the options list, for acceptance testing?"
Is there any way to specify a custom id to be used on the options list?

We'd like this for easier implementation of acceptance tests, where we'd need to select a particular option for a dropdown.

I know a possible way would be to provide a triggerId, then get the trigger's parent ID and use that to compose the generated ID of the options list, but it feels fragile and hack-ish.

[2017-04-08 20:11] NLincoln commented on #883
I think the `selectChoose` helper may do what you want

http://www.ember-power-select.com/docs/test-helpers

[2017-04-08 20:59] monovertex commented on #883
The problem is, we're writing acceptance tests in a 3rd-party framework, not in the Ember environment, so we can't really use the test helpers provided. That's why we'd need to be able to uniquely identify the list of options for a particular power select.

[2017-04-09 12:48] joeypedicini92 commented on #883
@monovertex how are you selecting options? I can't even register that tried all sorts of jquery and native event triggering can't seem to trigger asn option select

[2017-04-09 16:41] monovertex commented on #883
@joeypedicini92, I've never tried that in a Javascript environment, honestly. We're using Java w/ Serenity for the acceptance tests and clicks seem to register there.

Have you tried this solution? https://github.com/cibernox/ember-native-dom-helpers

[2017-04-10 12:55] joeypedicini92 commented on #883
Thanks @monovertex ended up using the ember helpers, that worked.

[2017-04-10 15:57] cibernox commented on #883
Sorry, I've been neglecting github lately. My excuse is that it was very sunny outside 😎

No, there is no easy way of adding IDs to the specific options. You can add IDs/classes to the trigger and the dropdown only. Anything can be done if you customise the templates, but that is pretty involved, I tend to use selectors like `.ember-power-select-option:nth-child(1)` or `ember-power-select-option:c

[2017-04-10 15:57] #883 closed

[2017-04-10 15:58] cibernox commented on #876
I'm going to close to keep backlog tidy but feel free to reopen.

[2017-04-10 15:58] #876 closed

[2017-04-10 16:06] cibernox commented on #877
Without a reproduction I'm going to close this issue, since seems that other project has solved this by updating the version.

[2017-04-10 16:06] #877 closed

[2017-04-10 16:06] cibernox commented on #833
Is this still relevant? Have you found a workaround? I've been busy with other stuff lately.

[2017-04-10 21:46] matthellstrom opened #884 "allowClear button gone with selectedItemComponent"
In looking through this site, it seems like the selectedItemComponent just replaces the text in the trigger, and shouldn't hide the allowClear "x", but I can't see it.

My component is simple, just something like this:
<div>
	{{option.firstname}} {{option.lastname}}
</div>

If I put nothing in the component hbs, the allowClear "x" does show. It seems like my text is covering it up.

Am I doing som

[2017-04-10 22:35] cibernox commented on #884
No, you're not. The key thing is that this button is actually outside that component, it is part of the trigger. That is the component you must customize to remove it.

It's less dauting that it seems tho. Import and export the original trigger without changing a comma:

[code]

And make that component's template be a [copy-paste of the original template with the the changes you want (no buttons)]

[2017-04-10 22:39] matthellstrom commented on #884
Actually, I want the allowClear button and it's not showing. This is on a single select, not a multiple select.

[2017-04-10 22:51] cibernox commented on #884
All, I misread it. Are you passing `allowClear=true`? The logic to show that button is pretty simple: https://github.com/cibernox/ember-power-select/blob/master/addon/templates/components/power-select/trigger.hbs#L7

[2017-04-10 22:59] matthellstrom commented on #884
Yes, here's my code:

		{{#power-select
				placeholder="Select User..."
				selected=selectedUser
				selectedItemComponent="order-user-trigger"
				disabled=(not orderSelected)
				dropdownClass="custom-eps-dropdown"
				triggerClass="custom-eps-trigger"
				loadingMessage="Searching users..."
				search=(perform userSearch)
				allowClear=true
				onchange=(action "userChanged")
				as |u|}}

[2017-04-10 23:04] cibernox commented on #884
Have you inspected the DOM verify that it's not actually there and this is a CSS/z-index issue? I don't see any reason why it wouldn't be there.

[2017-04-10 23:19] matthellstrom commented on #884
Yes, it's in the dom, it's on the line below the trigger. I've included a couple of screen shots to show. I'm guessing I have some css that's messing it up, but I don't see anything.
![screen shot 2017-04-10 at 4 18 25 pm 3](https://cloud.githubusercontent.com/assets/14794936/24886433/62300508-1e09-11e7-8513-c908bad9ee1b.png)
![screen shot 2017-04-10 at 4 11 22 pm](https://cloud.githubusercontent.

[2017-04-11 06:37] selva-v opened #886 "Dropdown's position is not adjusting automatically"
When I use `renderInPlace=true` the dropdown is not adjusting it's position. It's always bounds towards downward even though there is not enough space.

I'm using `renderInPlace=true` to avoid dropdown sticking Whenever the dropdown opens and one scrolls the body #456.

Thanks.

[2017-04-11 06:50] cibernox commented on #886
That is a known limitation.

In http://www.ember-basic-dropdown.com/docs/position this caveat is mentioned. You can, however, force it to render upwards passing `verticalPosition="above"`.

TBH, i don't remember the reason, I think that it's technically possible to do that but I never had time. If you want to give it a try using a custom positioning function (http://www.ember-basic-dropdown.com/do

[2017-04-11 07:05] selva-v commented on #886
Thanks for the quick response. I will try using the custom positioning.

BTW, I cant use `verticalPosition="above"`. since order of the select component may vary based on the form requirement, so I want the dropdown position should be adjusted based on available space.

[2017-04-11 07:14] cibernox commented on #886
Check the implementation of the original reposition function for inspiration.

[2017-04-11 16:17] matthellstrom commented on #884
If I add the code:

top: 0; to ember-power-select-clear-btn class, it works.

[2017-04-11 19:16] #868 closed

[2017-04-11 20:16] robneville73 opened #887 "best practice for defaulting selected value if only 1 option"
This is a very common scenario in my app... a drop-down may only have one choice and in certain contexts, I'd want it to automatically select that one value. I'm not seeing an obvious path on how to accomplish that with power select...

If there is a way to do this please let me know, otherwise this might be a good idea to include somehow.

[2017-04-13 11:06] monovertex commented on #883
@cibernox, I'm sorry, might've worded the initial question wrong. I need to place an ID on the dropdown itself, not on individual options.

I still haven't found a way of placing an ID directly on the options list or the dropdown, for that matter.

[2017-04-13 11:20] cibernox commented on #883
@monovertex I think that there isn't a way to set an ID, although there is a way of setting a class if that works for you. Does it?

[2017-04-13 11:59] monovertex commented on #883
Ah, through the `dropdownClass`, correct? Yeah, that would do it. Thanks!

[2017-04-14 18:44] charneykaye commented on #145
Hey team, just adding that I found this thread when in fact I had accidentally introduced *un unclosed `<div>`*  to my app/index.html - and the only noticeable side effect was the failure-to-render of the footer content.

[2017-04-14 18:44] charneykaye commented on #340
Hey team, just adding that I found this thread when in fact I had accidentally introduced *un unclosed `<div>`*  to my app/index.html - and the only noticeable side effect was the failure-to-render of the footer content.

[2017-04-17 13:49] Sinled opened #890 "It is not possible to use eps 1.7.0 version with ember-cli-page-object"
As i understand the root of the problem is deprecation of `:eq()` selector

when using collections in `ember-cli-page-object`
it generates selectors which looks something like this
`.some-collection .some-collection-item:eq(0) .power-select-container .ember-power-select-trigger`

and i pass this selector to `selectChoose` helper and it results error because selectChoose calls querySelector which d

[2017-04-17 14:28] cibernox commented on #890
You're right.
This is because the addon stopped relying in jQuery.

One improvement that it's easy enough and would "fix" your problem would be to improve the `selectChoose` helper to accept an `HTMLElement` as first argument instead of a string. What way you can still use jQuery specific stuff to find the trigger and pass it to the helper.

E.g:

[code]

[2017-04-17 14:29] cibernox commented on #890
Regardless of your problem I think that it's a good idea to allow helpers to receive DOM elements instead of the CSS selectors to find those DOM elements.

[2017-04-17 16:57] cibernox commented on #890
@Sinled I've done that already. Now you can find the trigger using jQuery specific selectors and pass it to the `selectChoose` helper as above. Released in 1.7.1.

Will that help?

[2017-04-18 15:44] Sinled commented on #890
Thanks, it helped!

[2017-04-18 15:44] #890 closed

[2017-04-18 23:45] cibernox commented on #887
That is not too hard. The key is that it's not this addons' responsability. The addon takes `options` and `selected`. It's your responsability to make `selected` default to the only option. A computed property could work.

[code]

[code]

[2017-04-18 23:46] #887 closed

[2017-04-18 23:49] cibernox commented on #884
I think that if your remove the `<div>` in the  template of the `selectedItemComponent` it should work. It is probably failing because the div is display block and is pushing the `x` down.

[2017-04-19 07:41] Moxide opened #893 "Navigable select demo not working"
Hello,
It seems that the navigable select demo is not working any longer. Testing it with Firefox and Chromium, it just hangs, throwing some JS errors...
Thanks ;-)

[2017-04-19 07:44] cibernox commented on #893
Crap. I suspect that is because I removed jQuery. The component doesn't use it but the animation library does.

[2017-04-19 07:52] Moxide commented on #893
Indeed, the first error thrown is a JQuery one ;-)

[2017-04-19 11:25] cibernox commented on #893
This is a tricky one. Apparently liquid-fire relies a lot in jQuery, so I might end up including jQuery in the deployed doc even if the addons is developend and tested without it.

[2017-04-19 15:01] cibernox commented on #893
This should be closed now. I now include jQuery when I deploy the docs, but I don't include it when I run the tests so I ensure that the addon itself doesn't require jQuery.

Thanks for reporting

[2017-04-19 15:01] #893 closed

[2017-04-19 15:23] matthellstrom commented on #884
I tried making the `<div>` inline-block and removing it altogether. I still have the same issue. The ember-power-select-status-icon is in the right place, the main difference I can see is the top: 0 and bottom: 0 absolute positioning.

[2017-04-19 15:32] cibernox commented on #884
I need to check if I can make the default styles smarter so this works by default.

[2017-04-19 15:35] Moxide commented on #893
It's all good, thanks !

[2017-04-19 16:12] matthellstrom commented on #884
When I added top:0 and bottom:0 to that class it worked fine. But I'm not a whiz at css by any means so it may end up affecting something else.

[2017-04-19 16:12] matthellstrom commented on #884
By the way, I LOVE power select, use it all over and more and more of the options all the time. It's fantastic!

[2017-04-20 12:17] Moxide opened #894 "Dynamic sub menus - JS errors"
Hello,
I'm trying to implement dynamic sub menus in a EPS : [See this twiddle](https://ember-twiddle.com/2f88479aa469d0a498acb4332fe13abb)
It's _mostly_ working, but JS errors are thrown when submenus are shown (`optionElement` being null).

Temporarily, I added a "not null" check on `optionElement` ([see this commit](https://github.com/Moxide/ember-power-select/commit/cbdd0086fdf61c0eaa7bce749b1c

[2017-04-20 13:56] cibernox commented on #894
Very creative! Yes, I never accounted by the posibility that options could not be rendered. I'd take a PR doing that.

[2017-04-20 13:59] cibernox commented on #894
@Moxide There is a few details this could be polished. Arrow navigation mainly.

I think that the best UX if when an item of a subgroup gets highlighted, the group automatically opens. I'll draft something based on the twiddle you shared.

[2017-04-20 14:16] cibernox commented on #894
@Moxide I hacked this: https://ember-twiddle.com/9e0bb0fbff5283856661066d87deb043?openFiles=components.power-select-custom-group.js%2C

[2017-04-20 19:52] Moxide commented on #894
Great ! Thank you very much for the insights !
There are still some quirks. For instance, in my application, the scroll position is "jumping" when I mouse over a group that is close to the bottom of dropdown. I had to prevent the scrollbars to appear.

[2017-04-20 20:53] cibernox commented on #894
I saw something like that. I think that it's because the select tries assumes that elements are inside the list of options and if an option is below the limit of visible are, it scrolls the list to put it into the viewport.

I'm not sure if this kind of component is better built on top of EPS or perhaps it's too different from a select and should be build on top of ember-basic-dropdown.

Either wa

[2017-04-20 21:23] pawangiri commented on #866
[code]

I still see this error
I am using v1.7.0 with ember v2.12.1

[2017-04-20 21:30] cibernox commented on #866
@pawangiri can you provide a reproduction? Seems to be fixed for others.

[2017-04-21 06:29] Moxide commented on #894
Done ;-)
Thanks for the explanation about autoscrolling.
In the application I'm working on, I make use of the search field in same time as the submenus, so in my case it's better to use EPS, isn't it ?

[2017-04-22 18:48] MartinMalinda commented on #866
I just stumbled upon this issue and it seems to be caused by `tagName: ''` on the second component for me.

[2017-04-23 02:13] alecho commented on #866
@cibernox I was still seeing the error blaming EPS but it was a result of a app specific component mixin that modified `classNames` on `init()`. I was seeing about 15 errors. 14 were blaming EPS but the real culprit was the first component using the mixin extending EPS.

@pawangiri I would take a look at your `add-location` component to see if it, a mixin, or a component it extends modifies `class

[2017-04-24 07:46] tsamsiyu opened #898 "Is there possibility to specify the `dropdownParent` option?"
In some situations (in marcopus, bootstrap modal) a dropdown isn't displayed correctly. Is there possibility to specify the option like `dropdownParent` like it did in select2 jquery widget?

[2017-04-24 08:21] cibernox commented on #898
Check the `destination` option: http://www.ember-power-select.com/docs/api-reference
You can also use `renderInPlace=true`

However if the problem is just the `z-index`, I'd just add a class to the dropdown to increate it to 1051.

[2017-04-24 13:25] Turbo87 opened #899 "Deprecate "onchange" in favor of "onChange""
`onchange` is obviously harder to read than `onChange` so it would be great if we could transition to `onChange` and deprecate the old `onchange` option.

[2017-04-24 13:31] cibernox commented on #899
Edited to replace `select` by `change.`

[2017-04-25 18:29] pgengler opened #900 "Selectors with `:eq` cause exceptions with >= 1.7"
Since ember-power-select 1.7.0, passing a selector with `:eq` to `selectChoose` causes this error:

I assume this is related to pulling out jquery but it seems like a big breaking change.

[2017-04-25 21:23] cibernox commented on #900
@pgengler Yes, that is indeed a consequence of removing jQuery as `:eq` is not a valid CSS3 selector.

For what it's worth, when removing this feature I reached the jQuery team and seems that [`:eq` is being removed anyway](https://github.com/jquery/sizzle/issues/398#issuecomment-284300485) so I decided to not care about it.

Although the helper doesn't accept jQuery pseudoselectors, you can still

[2017-04-26 00:02] pgengler commented on #900
I've worked around this by creating a wrapper helper that does that, but shouldn't this have really been saved for 2.0, since it breaks existing tests?

[2017-04-26 08:39] cibernox commented on #900
You might be right. The test helpers are arguably public API too and I should have bumped a major version.

Sorry about that, I'll be more careful next time.

[2017-04-26 08:39] #900 closed

[2017-04-28 17:00] dbinetti opened #903 "regression in 1.8"
I'm sorry I can't provide a failing test, but the reproducible steps (for me) are:

- using a `power-select` with an `ember-bootstrap` modal
- the `renderInPlace=true`flag renders the options on the right edge of the browser window instead of in place.

works on 1.7, fails on 1.8.

[2017-04-29 07:46] #898 closed

[2017-05-02 19:01] luketheobscure opened #905 "renderInPlace=false is broken in 1.8.2"
Twiddle: https://ember-twiddle.com/57e236c7651bd557f18f1c55d25599ea?openFiles=templates.application.hbs%2C

Attempting to use ember-power-select without specifying `renderInPlace=true` yields the following error:

`ember.debug.js:18008 Error: ember-wormhole failed to render into '#ember-basic-dropdown-wormhole' because the element is not in the DOM`

[2017-05-02 21:00] luketheobscure commented on #905
Developer needs to read the docs. 😣

[2017-05-02 21:00] #905 closed

[2017-05-03 03:32] NLincoln opened #906 "[RFC] Yielding components"
# Summary
Move to v2.0, allowing ember-power-select to shed it's ember 1.13 baggage and expose a nicer API

# Motivation
Your [emberconf keynote](https://www.youtube.com/watch?v=MpFudGJn2J0) got me thinking. `ember-power-select` was created back in ember 1.13.8, and despite dropping support for ember < 2.3.1 and gaining embers powerful component API's, ember-power-select has not been able to migra

[2017-05-03 14:32] cibernox commented on #906
This is on the roadmap, indeed. I even bikeshedded a tentative API.

[code]

[2017-05-03 14:36] NLincoln commented on #906
Yeah that was something I was thinking about last night after I wrote this. I wasn't too sure if I wanted to make a new component, but I agree that adding `basic-power-select` is the direction this should go. It would be relatively easy to rebuild `power-select` and `power-select-multiple` on top of this, keeping backwards compat as we go.

[2017-05-03 14:37] miguelcobain commented on #906
This would be _extremelly_ helpful for ember-paper and probably other people making some advanced customisations on top of eps.

[2017-05-07 06:15] maxwondercorn opened #910 "Strange behaviors/interactions"
I have two power-selects in a template that are behaving oddly and seem to be interacting with one another.  Code first:

observations.hbs

                    {{#power-select
                        options=sortedStreams
                        selected=selectedStream
                        onchange=(action "onSelectStream")
                        class="form-group pull-left selector"

[2017-05-07 15:26] cibernox commented on #910
Having many selects on the screen is the most normal thing ever, so I'm sure there is something specific on your logic.
Can you replicate the problem in https://ember-twiddle.com ? Ember Power Select works perfectly there if you manually add the `<div id="ember-basic-dropdown-wormhole"></div>` somewhere in a template.

[2017-05-07 15:28] cibernox commented on #903
Sorry for the delay. This has been fixed last week. It was a bug in ember-basic-dropdown actually. It was only related with the `renderInPlace`, the fact that it was in a modal I don't think that it's relevant. Can you check again?

[2017-05-07 17:39] maxwondercorn commented on #910
After some sleep, I walked through the code again and found the problem - actually two, in my controller code.  Almost embarrassed that I posted the issue but the lesson is sometimes you need to walk away.

When I wasn't loading a record into my form, I was setting my stream selected property to null, rather then the selected value and to compound it I was setting the area selected property instea

[2017-05-07 18:03] cibernox commented on #910
Glad you found it. I'm closing this then.

[2017-05-07 18:03] #910 closed

[2017-05-09 22:49] #841 closed

[2017-05-11 12:09] jevanlingen commented on #530
@cibernox: Why did you close this ticket? Is this feature no longer being considered?

In contrast to the native behaviour, the power-select addon behaves different:

Kind | Behaviour
--- | ---
Native | If corresponding label is clicked, the select box is focussed but still closed; see [this](https://output.jsbin.com/fafadukuhi) bin.
Power select | If corresponding label is clicked, the select box

[2017-05-11 12:19] cibernox commented on #530
Allowing the trigger to have an ID is relatively easy. However making the select gain the focus when a label is clicked is more complex than just adding an ID and will require some thought, but it's certainly something I'd like to do.

[2017-05-11 15:37] dbinetti commented on #903
Sorry for the late check!

yes, works.  thanks!

[2017-05-11 15:37] #903 closed

[2017-05-12 18:42] Aaronfischer commented on #866
I'm also seeing this.
@alecho Whats wrong with modifying `classNames`? I'm trying to understand how thats related and what I can do to solve this issue.

[2017-05-12 19:02] cibernox commented on #866
@Aaronfischer I think that the error message is misleading. I think that what is really happening is that there is some error somewhere in your app and that causes EPS to break mid-render. But so far every time someone reported it, the error was actually in code outside EPS.

[2017-05-12 19:04] Aaronfischer commented on #866
@cibernox Ahh, okay, interesting I'll keep debugging then, thanks.

[2017-05-12 19:07] cibernox commented on #866
However I nave no clue why EPS appears in the trace, so there might be some relation I don't see. If you come to any conclusion let me know.

[2017-05-12 19:10] Aaronfischer commented on #866
Okay, in my case, I am grabbing and `.filterBy(...)` the "options" I use in power-select AND trying to prepopulate the "selected" based on the filterBy... So I could see why in my case power-select would be "involved" in some way.

[2017-05-15 15:44] kswilster commented on #865
Just chiming in to add another perspective. I have also implemented a custom scroll action, but I want to page more options in before hitting the bottom of my options. Adding a debounced scroll event listener to ember-power-select allows me to determine my own loading threshold. i.e.
[code]

I'd love to contribute and put up a PR exposing the `onscroll`action that makes this possible, just want to

[2017-05-15 15:46] fast4shoot commented on #788
Hi, I've also been looking into this issue and I found out a few things. It seems that the problem is not actually in ember-power-select, but in ember-basic-dropdown. Although the problem seems to be easier to replicate with ember-power-select, I've been able to replicate it on the ember-basic-dropdown homepage (see http://i.imgur.com/JqJEnU4.png) with _very_ fast clicking.

Now usually when openi

[2017-05-15 16:01] cibernox commented on #865
@kswilster The idea is good but I want to hold that of until I've refactored EPS to use contextual components. There is already too many option in the top level.

The idea would be:

[code]

By splitting the select into sub-components we avoid having the top-level `{{power-select}}` being the single entry point for every single option. I want to do it  in the next 3/4 weeks.

[2017-05-15 16:56] cibernox commented on #788
@fast4shoot that's a very deep breakdown of what is happening! 🙇

The main problem with this is being able to create a reproduction example better than "just click the dropdown like crazy". But your explanation makes sense. I'll allocate some time over the weekend to see of I can see.
I think that delaying the nullyfication of those properties could work tho.

[2017-05-15 22:05] mastastealth commented on #833
@cibernox Does `search` also override `matcher` or should those 2 work together?

[2017-05-15 22:08] cibernox commented on #833
`search` trumps over anything else.

[2017-05-16 08:26] fast4shoot commented on #788
I found out that it becomes very easy to reproduce when you add a `onfocus` handler that just takes a long time to finish, I've used a simple active wait:
[code]
Although for some reason when you do this, you have to click the trigger three times when the dropdown is closed, but you don't have to be especially quick.

Obviously, in practice you wouldn't want a focus handler that takes hundreds of

[2017-05-16 08:39] cibernox commented on #788
Fantastic trick! I might have time today for investigating this. I will probably impossible to add a regression test for this tho.

[2017-05-17 08:10] BennyAlex commented on #880
@cibernox
Do you have planned to implement an macher for many properties? Like passing a list to searchFields?
This is how we could avoid writing many custom matchers

[2017-05-17 09:42] cibernox commented on #880
@BennyAlex I don't think it would be wise as there is a lot of possible strategies.
Imagine you have `first_name` and `last_name`. If the user types `jo` it will find "John Williams" but also `Scarlet Johanson`. So far so good. But what about `n a`.
Should it find "Anto**n** **A**llaire" or "**A**kira Roni**n**" (because properties can be concatenated as "Roni**n A**kira")? Or both? The space is m

[2017-05-17 09:59] BennyAlex commented on #880
@cibernox
okay I see your point, but your could give the matcher (optional) parameters (for example ignore spaces, then 'n a' would only match 'Navidad') and let the user decide how the matcher should work.
I think in many cases this would be enought and I dont need a custom matcher.

When I am trying to use the defaultMatcher in my own matcher I get an error.
Do I import it correctly (import defa

[2017-05-17 14:41] cibernox commented on #880
@BennyAlex You're almost there. It's a named export. `import { defaultMatcher } from 'ember-power-select/utils/group-utils';` should work.

Using the default matcher would be just import it and use it to compare passing the concatenated fields. It will take care of stripping diacritics and ignoring capitalisation. Although the `stripDiacritics` is also an independent function you can import if you

[2017-05-19 00:01] ktrhn opened #914 "Top dropdown position shifted"
Couldn't find an issue about that, altough I have been noticing it for quite some time:

When the dropdown opens on top, it is shifted 1px to the bottom. It fixes itself after scrolling on the page. You can see on the first screen that the top border of the trigger is behind the dropdown. This is visible on ember-power-select.com. Tested with current Opera and Chrome on OS X.

After open:
<img wid

[2017-05-19 12:26] cibernox commented on #914
Actually I noticed it too but It's not clear to me why it happens. I dedicated like 1h to find but I couldn't and it never bothered me enough to keep digging, as I tent to use a CSS theme where the content is ~4px away of the box (like the bootstrap one) and the bug is not noticeable.

[2017-05-19 12:27] cibernox commented on #914
I labeled as a bug but I don't expect to have time to debug this anytime soon as I am between homes (🏡 🚚 📦📦📦)

[2017-05-23 09:10] Keeo commented on #788
I am not sure that its the same bug, but I was able to reproduce the same behavior on [ember-basic-dropdown](https://www.ember-basic-dropdown.com/docs/dropdown-events) docs page.
![ember-basic-dropdown](https://cloud.githubusercontent.com/assets/4613001/26347028/6567d3b6-3fa8-11e7-8aec-874b754284b2.gif)

[2017-05-25 10:51] kumkanillam opened #915 "Invalid character error only in IE browser and only for production environment"
Due to some newer feature usage(I am not sure is it in my app folder or from addon) in my project, uglify.js is not working for minification, so I uninstalled `ember-cli-uglify` and included [ember-cli-babili](https://github.com/ember-cli/ember-cli-babili)  reference (http://rwjblue.com/2017/04/21/ember-cli-targets/).

Here comes the issue,
In group-utils.js file,there is `const DIACRITICS = { 'Ａ'

[2017-05-25 11:05] cibernox commented on #915
Interesting. A new way Internet Explorer breaks the web. Yay!

I supposed that we can replace the non-utf8 chars by their escaped versions and babili will work. Let me see if I can find the source from where I took this initially.

[2017-05-25 16:03] HeroicEric opened #917 "Add `selectChoose` integration test helper to docs"
The `selectChoose` integration test helper was added in https://github.com/cibernox/ember-power-select/pull/913 but is not yet in the docs

[2017-05-26 07:44] #917 closed

[2017-05-26 07:45] cibernox commented on #917
Docs updated.

[2017-05-26 10:28] kumkanillam commented on #915
There is issue with PR already is in the progress in babili project. [Fix removal of quotes from property names](https://github.com/babel/babili/pull/543/files) . Thank you so much for your time :-) Thank you for this Power Packed Addon.

[2017-05-26 10:41] #915 closed

[2017-05-26 21:16] jdurand opened #919 "Option select issue on iOS introduced in v1.7.0"
*Issue introduced in **v1.7.0** and present in every subsequent versions*
*Reproduced on **iOS Safari***

The options wrapper `.ember-power-select-options` stays highlighted instead of immediately blurring out when an option is pressed. The option never selects unless it is carefully pressed for a few seconds and then released.

< 1.7.0:
![< 1.7.0](https://i.gyazo.com/a6279b450ab42307d283cd41ce70f

[2017-05-27 08:08] MartinMalinda opened #920 "Cannot call writableTag after the object is destroyed. (in acceptance tests)"
Power select makes tests randomly fail for me. The error does not occur when the acceptance test is run alone, but only when run in a series of other tests. It seems like something is not getting cleaned up.

[code]

I am using the `selectChoose` helper.

[code]
It may or may not be related to some PublicAPI call..?
<img width="1035" alt="screen shot 2017-05-27 at 09 59 15" src="https://cloud.gith

[2017-05-27 08:11] MartinMalinda commented on #920
I will try different versions of PS and Ember to see if it makes any difference.

[2017-05-27 14:30] cibernox commented on #920
The `You modified XXX twice in a single render` is usually a symptom of another thing erroring.
But I have never seen this `writableTag` thing before.

My only suggestion is that, since `selectChoose` is async, you might want to put the folloing `click` in another `andThen`. That is the only possible source of race condition I see, assuming it's not related with the datepicker.

[2017-05-28 07:31] arparthasarathi opened #922 "Disable few options from selected list in power-select-multiple"
I would like to **disable a few options** from a list of options in power-select-multiple. For example, if there are **10 option**s in the selected list of power-select-multiple, I would like to **disable the first three options** i.e., there should be **no option to remove** the first three option from the list.

Currently there is a functionality to disable the entire power-select-multiple. But

[2017-05-29 23:34] gentlefox commented on #922
`option.set('disabled', true);`
Visit this page and scroll down to:
[Disabling specific options or groups](http://www.ember-power-select.com/docs/the-list)

[2017-05-30 11:17] arparthasarathi commented on #922
Sorry for not being clear. I have updated the issue with screenshots and further details. Hope that explains the scenario.

[2017-05-30 20:39] sukima opened #924 "Double mouse events with closeOnSelect=false"
This is a weird one and really only noticeable when the trigger component is rendered in such a way that the pills stack vertically. I replicated it in [this ember ember-twiddle](https://ember-twiddle.com/d1e8180ec09a0835e5618f613ac4e632).

To reproduce

1.  Open the drop down
2.  click the <kbd>X</kbd> on "Blow Pops"
3.  Notice both "Blow Pops" and "Reese's pieces" are removed.

This is because t

[2017-05-30 22:44] cibernox commented on #924
I see. Yep, that's unfortunate. I'll try to allocate some time to dig into a possible solution

[2017-05-31 10:42] cibernox commented on #919
Sorry for the delay, I was on holidays.

On the link you posted I cannot se that select, but other selects seem to work just fine in chrome and safari, but I don't own an iOS device. However from your gif seems that you are using a mouse.

How can I reproduce that error?

I can't think in any change in 1.8 that would case such a big regression.

[2017-05-31 11:36] jdurand commented on #919
This works on most browsers and devices. The problem is only present on iOS devices.

I captured the gif Xcode's iPhone Simulator, that's why you see a mouse.

[2017-05-31 11:39] jdurand commented on #919
And the problem was introduced in 1.7.0.
I'll try dig a little more today.

[2017-05-31 11:40] cibernox commented on #919
Thanks. I'll also install xcode and the emulator. It's always good to have it.

[2017-06-05 06:53] ahmetemrekilinc opened #926 "Single select search box's position can be besides the selected item"
It would be better if single select search box's position is located besides the selected item like it is in multiple select. Here is the screenshots of both components.
![single](https://cloud.githubusercontent.com/assets/25075077/26773604/a51e68fe-49d4-11e7-9169-ba708d69d434.png)
![multiple](https://cloud.githubusercontent.com/assets/25075077/26773625/bc990494-49d4-11e7-95b8-20393b12e479.png)

[2017-06-05 06:56] ykaragol commented on #926
This causes inconsistency in the UI while multi and single selects are placed in the same page.

[2017-06-06 09:11] MatthewPringle commented on #919
I can confirm this is a bug on the newer iOS. What is really strange is that some of the demo pages do not work yet this page does http://www.ember-power-select.com/docs/action-handling

[2017-06-07 11:30] Keeo commented on #788
Fixed in https://github.com/cibernox/ember-basic-dropdown/pull/301. Thanks all for great work :+1:

[2017-06-07 11:30] #788 closed

[2017-06-07 21:50] MatthewPringle commented on #919
Ok think I might have figured this out. I can't test as I haven't ever used Power Select because of this bug.

So I wrote my own, and then had a bug, on device only, not simulator, where if focused on the input, clicking any of the list, with an action attached didn't seem to trigger the event. Seems like the same problem.

So anyway, my fix was to add an active class to the clickable options. Tha

[2017-06-07 22:00] cibernox commented on #919
Can you expand on what you mean by that?

[2017-06-07 22:06] mastastealth opened #928 "selected changes Ember Array to normal array on item delete"
I have a parent component with a `currentItems` property. I define it as an `Ember.A([])`. Within that parent component I have a dropdown of "predefined items", that upon selection, will trigger an action in the parent to `this.get(currentItems).pushObject(newThing)`.

This works great, as the parent component then pushes `currentItems` as the `selected` for my EPS. However, when I remove the item

[2017-06-07 22:09] MatthewPringle commented on #919
OK, in my autocomplete, the code for the list / dropdown of results

[code]
The li has a hover class which highlights the items, clicking one fires an action selecting that item and populating the input with it.

Kinda standard, works in everything except on my active iPhone. The clicks on the individual items / li's wouldn't fire if the keyboard was showing and the user was focused on the input t

[2017-06-07 22:59] cibernox commented on #919
You say that if the `<li>` doesn't have a certain class the click events don't fire white an input is focused?

That doesn't make much sense.

[2017-06-07 23:01] jdurand commented on #919
@cibernox from what I understand, it's about the `active` pseudoclass being defined in CSS... I'm trying this out right now.

[2017-06-07 23:03] cibernox commented on #919
@jdurand But afaik, only anchors, and maybe buttons have that `:active` pseudoclass. `<li>`s don't.

[2017-06-07 23:11] MatthewPringle commented on #919
https://developer.mozilla.org/en-US/docs/Web/CSS/:active
 It is commonly used on <a> and <button> elements, but may be used on other elements, too.

Anyway, I find that sometimes a bug on device, on iOS, can be solved by adding a background or an active state in the css. It just fixes some random bug.

But it just worked for me now, so I thought I would just see if jdurand could give it a simple t

[2017-06-07 23:15] jdurand commented on #919
@MatthewPringle it didn't fix this specific issue:
![](https://i.gyazo.com/e35b34804b6f08532c6c793e62e1a1fb.gif)

Still a nice find though 👍

[2017-06-07 23:33] cibernox commented on #928
TBH I'm a bit lost on the issue. Generally speaking, if you want push/pops to be tracking by Ember in general (this is non EPS specific) you must always use `push/popObject` or replace the array entirely.

That said, I don't really grok the issue. If you could provide an example, perhaps using ember-twiddle, that would be helpful.

[2017-06-08 04:17] esbanarango opened #929 "*Y axis* validation on `choose` could break acceptance tests."
The *Y axis* [validation](https://github.com/cibernox/ember-power-select/blob/master/addon/components/power-select.js#L276) on `choose` should be disabled for testing, or have the option to manually disable it. We have many acceptance tests that rely on `selectChoose`, a simple change on the layout design (a margin of `2rem` added to a parent where the EPS is) is now making all those test fail. Ma

[2017-06-08 10:23] Swizz opened #930 "Limit the number of result"
Hi there,

I am using the last release of Ember Power Select to allow user to search inside a group list of 360+ group and 15+ items each.
But, I experience sever performance issue. At least 3sec to render.

So, I wanted to limit the number of item in list just the most relevant one according to search.
I digged into matcher/search function and I found a suitable solution.
Nethertheless, at the fi

[2017-06-08 11:04] cibernox commented on #930
Yes, but calling the search will populate the input with the search term.
My advice is that, since you can combine an initial set of option with a search, to pass that reduced set of options `option=mostLikelyOpts` and let the search be a regular search.

[2017-06-08 12:09] Swizz commented on #930
So, there is no way to let search do the search and limit the rendered items to the first 100 ?
I think users will never deep dive into lots of items, they will narrow their search.

[2017-06-08 12:29] cibernox commented on #930
There is always a way, at the end you can completely replace every piece of the select with your own components, however there isn't a magical property you can pass that does this. However something I started working in but never got it finished might help be helpful.

My plan was to create a variant of the power select that uses vertical-collection to be able to render tens of thousands of items

[2017-06-08 12:33] Swizz commented on #930
Understood, I will take a look and continue to experiment. Thank you for your answers.

[2017-06-08 14:13] mastastealth commented on #928
@cibernox Welp, looks like this one is on me since the [example](https://gist.github.com/mastastealth/ce78144540a7f639e2c270fa6f1f5770) does work as expected. Never mind. 😅

[2017-06-08 14:13] #928 closed

[2017-06-08 14:24] cibernox commented on #930
I'm going to close this, but feel free to reopen if you need to

[2017-06-08 14:24] #930 closed

[2017-06-08 14:44] jdurand commented on #919
Ok, I narrowed it down to the jQuery-less implementation of `closest` in `addon/components/power-select/options.js`

The following fixes the issue:

[code]

I'm working on fixing this without jQuery and will submit a PR.

[2017-06-08 14:55] cibernox commented on #919
many browsers have `element.closest` implemented natively. If there is some sort of polyfill I'd happily use it

[2017-06-08 15:13] jdurand commented on #919
right... so the issue here is not that `closest` (and/or `matches`) is not implemented correctly; it's that the native function is not implemented correctly.

I can either (1) conditionally override the native functions (even if they exist) or (2) simply define them as isolated functions...
I'm in favor of 2.

@cibernox what's your call?

[2017-06-08 15:18] jdurand commented on #919
ok... I no I'm wrong the polyfill function still doesn't work like the jQuery one... I'll dig a little deeper.

[2017-06-08 15:21] cibernox commented on #919
I find that weird because desktop and iphone safari are essentially the same browser and if it was something like `Element#closest` being buggy (which would be a pretty big fail by the safari team) i'd expect to also fail in desktop.

[2017-06-08 15:24] jdurand commented on #919
Yeah... I also expected every other Webkit browser to handle this the same way, but apparently, there's some iOS specific issue here.

[2017-06-08 15:52] jdurand commented on #919
So... The problem is far simpler.

The `touchend` event listener was still expecting `optionItem` to be an array (as is the case with jQuery functions) but the native `closest` returns an element.

The following check doesn't take this into account and returns prematurely:

[code]

and this fails:

[code]

I'm submitting a PR for this.

[2017-06-08 16:37] #919 closed

[2017-06-09 09:22] zardaloop commented on #208
@cibernox I know this issue is closed but could you tell me please what is the solution to this ? I want to reset the selected Item when options are changed and the selected item is no longer within the options.

[2017-06-09 09:35] cibernox commented on #208
@zardaloop Basically it's something the programmer must do. Ember Power Select just receives `options=someOptions selected=something` and display them. Nothing more. If you replace `someOptions` with some other value, wherever you do that you should also clear `something` if now it is not a valid selection.

[2017-06-09 12:25] zardaloop commented on #208
@cibernox  thanks for getting back to me so quick. perfect, I guess I need to extend the component and create a new one which has observer on options and when it changes goes ahed and reset the component's selected value. However is there anyway to set back the placeholder? what would be the clear function? I had a look at the documentation's API but I couldn't figure out what I should use to clea

[2017-06-09 13:13] cibernox commented on #208
@zardaloop Is this kind of behaviour something you will have very often? If your don't or you don't know yet, I'd start by doing wherever wherever you update the list of options.

If you have this, **perhaps** the simples solution I see would be to create a generic tagless component that does that:

[code]

That way you don't have to extend the select component. The logic that resets the selected

[2017-06-09 13:35] zardaloop commented on #208
@cibernox  thanks. But that way I am resetting selected value twice which is no longer allowed in ember 2.xx.

[2017-06-12 02:08] ascot21 opened #933 "ReferenceError: Can't find variable: Promise"
I get the error `ReferenceError: Can't find variable: Promise` when I use `selectChoose` in an acceptance test.  It runs fine in the browser but fails in the console.

I'm using `Ember 2.11.1`, `Ember Power Select 1.8.5` and `Phantom JS 2.1.1`.

[2017-06-12 19:15] alexmadjar opened #934 "`options` list not cleared while loading"
I hooked up ember-power-select `options=myComputedProperty` where my computed property is hooked up to a network request.  While that property is computing, power select knows to use the loading text, but oddly it doesn't clear the previous options, so the UX is:

[code]

The behavior I would expect is:

[code]

[2017-06-13 21:57] danielleadams commented on #933
@ascot21 I ran into this today, and I found that a (temporary) workaround is to downgrade to `1.6.1`.

[2017-06-13 22:01] luketheobscure commented on #933
I haven't run across this problem, but have you  tried including the babel polyfill? Just add this to your `EmberApp` arguments in `ember-cli-build.js`:

[code]

[2017-06-14 15:41] danielleadams commented on #933
That'll do it! My initial instinct was that it was babel-related, but I must not have configured the polyfill correctly in the build file. Thanks @luketheobscure!

[2017-06-19 06:58] cibernox commented on #934
Sorry, I've been on holidays all last week.

Actually, this behaviour is intended, not an oversight. Clearing the results of a search while a new search in in progress is not usually what we want, since the flickering of the results is visually annoying. Other selects libraries follow the same approach: https://select2.github.io/examples.html#data-ajax

As anything else in this component, if you *

[2017-06-19 06:58] #934 closed

[2017-06-19 07:06] cibernox commented on #933
I've been on holidays all last week, Im still catching up.

On on hand, phantomjs is officially dead. I'd encourage people to start testing their apps in browsers people really use, like chrome headless or firefox.
On the other hand, I don't expect people to include the polyfill in order to make this addon work. I'll dig into it. I should use `RSVP.Promise` everywhere, not the native one.

[2017-06-19 08:04] cibernox commented on #933
Ok, I've found the cause. It turns out it is a problem with promises and regenerator.

[code]

In recent versions of EPS I started using async await on tests to people can do things like `await selectChoose('#my-select', 'Barry')`. But while I take care of conditionally import the `regenerator` runtime in browsers that don't support generators, seems that the runtime relies on the existence of a g

[2017-06-19 09:35] mitchiru opened #939 "Placeholder not showing (1.8.4)"
Everything works but the Placeholder for the select field. it is just emtpy before selecting any option.

`{{#power-select
  search=(action "searchZips")
  placeholder="Ort oder PLZ"
  loadingMessage="Postleitzahlen werden geladen"
  noMatchesMessage="Es wurden keine Postleitzahl gefunden"
  searchMessage="Suche Postleitzahlen"
  ariaLabel="Suche Postleitzahlen"

  selected=zipSelect
  renderInPla

[2017-06-19 14:47] cibernox commented on #939
I might need more information. As you can see from the docs (http://www.ember-power-select.com/docs/the-trigger) the placeholder option works, so there must be something particular of your example that makes it fail.

Can you provide a reproduction?

[2017-06-19 15:12] mitchiru commented on #939
Hey, thx for asking. I guess I know what's wrong. In my case the value for selected is an empty string. When its null, it shows the placeholder.

[2017-06-19 16:52] ascot21 commented on #933
Thanks for taking a look at it @cibernox The polyfill fixes it for me.

[2017-06-20 08:33] ashrafhasson opened #940 "selected option not visible when power-select used in bs-modal"
Hi there,

I'm using power-select in a [`ember-bootstrap/modal`](http://www.ember-bootstrap.com/api/classes/Components.Modal.html) with `renderInPlace` set to true but when I select an element from the list, the selected element is not shown, instead the select appears blank as if the selection had not occured. The `options` is a flat array with a mix of integer and string values.

Would appreciat

[2017-06-20 08:40] ashrafhasson commented on #940
Apologies, I had to explicitly handle the selection in the `selected` action handler to set the destination to what was passed in.

Closing and thanks for the addon!

[2017-06-20 08:40] #940 closed

[2017-06-21 14:32] Charizard commented on #602
@cibernox I can confirm that this is happening in iOS. The search box is not focused on clicking the dropdown.

[2017-06-21 15:43] c-emil commented on #145
@cibernox Could you please update your message with link (https://github.com/cibernox/ember-power-select/blob/master/index.js#L23-L28) because it's no longer on lines L23-28 :) so it's a bit confusing, thanks! Maybe just remove the lines since these can change in future as well.

@jackmatt2 thanks very much for the code snippet! Just a note: https://github.com/cibernox/ember-power-select/blob/mast

[2017-06-28 14:56] heyitskippy commented on #865
@cibernox hi. still nothing here?

[2017-06-28 15:03] NLincoln commented on #865
@heyitskippy I have a fork going that has power-select-basic. #923

It has no docs or tests written, so use at your own risk. I'll be working on getting that working when I have time again (feel free to contribute)

[2017-06-29 17:00] ivorscott commented on #78
Don't forget to restart you ember apps when you install an addon. :)

[2017-07-01 13:47] matthellstrom opened #942 "selectedItemComponent rendering on 2 lines when using power-select-multiple"
When I use a selectedItemComponent on an ember-power-select-multiple it wraps the component value in a div which makes it display on a second line.
<img width="269" alt="screen shot 2017-07-01 at 6 45 45 am" src="https://user-images.githubusercontent.com/14794936/27762552-fce010fc-5e28-11e7-85e4-52857dd7b459.png">
<img width="708" alt="screen shot 2017-07-01 at 6 45 20 am" src="https://user-images

[2017-07-01 15:41] matthellstrom commented on #942
I'm using ember-power-select-with-create.

[2017-07-01 15:45] matthellstrom commented on #942
Without the selectedItemComponent

<img width="507" alt="screen shot 2017-07-01 at 8 43 35 am" src="https://user-images.githubusercontent.com/14794936/27763496-8f0ee682-5e39-11e7-86a7-baa990f8c5aa.png">
<img width="515" alt="screen shot 2017-07-01 at 8 44 06 am" src="https://user-images.githubusercontent.com/14794936/27763497-90c1e920-5e39-11e7-8f29-e6a4b1a2ec26.png">

[2017-07-01 15:46] matthellstrom commented on #942
Component

<img width="202" alt="screen shot 2017-07-01 at 8 45 59 am" src="https://user-images.githubusercontent.com/14794936/27763513-c04ca6e4-5e39-11e7-97c3-5df7af9177da.png">

[2017-07-01 15:54] cibernox commented on #942
@matthellstrom Can you add `tagName: ''` to your component so it doesn't have a wrapper div?

[2017-07-01 16:24] matthellstrom commented on #942
Would I put that in the components .js file?

[2017-07-01 16:44] cibernox commented on #942
Yes.

[2017-07-01 16:47] matthellstrom commented on #942
Yes! Perfect! Thank you!

[2017-07-01 16:47] cibernox commented on #942
👍

[2017-07-01 16:47] #942 closed

[2017-07-05 17:46] bttf commented on #933
credit to @jeaxelrod:

[code]

[2017-07-13 17:33] urbany opened #951 "1.9.1 SyntaxError: ember-power-select/components/power-select-multiple.js: @ember/utils does not have a isEqual import"
Hi @cibernox

Just installed ember-power-select@1.9.1 and I'm getting an error on build:

[code]

Using: ember-source@2.14.0

[2017-07-13 17:34] cibernox commented on #951
@urbany Update to babel 6.6.0. I'm working of a fix so people don't require this.

[2017-07-13 17:40] urbany commented on #951
Just checked to make sure with `npm list` and I'm using `ember-cli-babel@6.6.0` already

[2017-07-13 17:43] cibernox commented on #951
`npm list` list also dependencies  of sub dependencies. Is *your app* using this? i'd just suggest wipe nodemodules just in case.

[2017-07-13 17:46] urbany commented on #951
Yeah, i checked with `npm list --depth=0` (an on my deps I have: `"ember-cli-babel": "^6.6.0"`) actually, i'll `rm -rf node_modules` and try again

[2017-07-13 18:24] ctcpip commented on #871
I have several failing checks as well - just with basic functionality.  Have not yet tried multi-select.
 It's possible changes in #806 may resolve some of these issues.

For the moment, here are the failing checks as I see them.  Some appear in different states - initial load, trigger (show options list), and selection of an option

- [critical]: Buttons must have discernible text
- [critical]: A

[2017-07-13 18:29] ctcpip commented on #871
@AdrienNguyenWorldline I think you mean ARIA 1.0 and 1.1, not WCAG.  `axe-core` does support 1.1, so if you are using up-to-date version of `ember-a11y-testing`, you have 1.1 support.  I am using the latest version and I still have the errors above.

[2017-07-13 18:36] urbany commented on #951
After `rm -rf node_modules` + updating all in-repo addons to `ember-cli-babel@6.6.0 ` it's working now. Thanks 👍

[2017-07-13 18:36] #951 closed

[2017-07-13 18:41] cibernox commented on #871
@ctcpip I won't have time this week to look at this, but have good A11Y is on my roadmap. Ping me back at the end of the next week so I can review this.

[2017-07-13 18:47] ctcpip commented on #871
@cibernox Will do.  Thanks.  I am happy to help as well.

[2017-07-14 11:20] blamens commented on #321
@evoactivity same problem here

[2017-07-15 04:02] luketheobscure commented on #865
We worked around it by using the `afterOptionsComponent` hook. We've got a component that renders a "Load more..." button that loads in the next page of records. It's working really well for us.

[2017-07-15 05:08] kumkanillam commented on #865
@erichonkanen  You can try project https://github.com/cibernox/ember-power-select-collection

[2017-07-19 18:43] #939 closed

[2017-07-19 18:43] #933 closed

[2017-07-20 15:24] ctcpip commented on #871
@cibernox

[2017-07-20 18:58] cibernox commented on #871
I was overly optimistic with the amount of work a moving involves. I'm still assembling Ikea stuff. Can we delay it until mid-next week?

[2017-07-25 02:40] tchan opened #954 "Search not working with array of Objects"
In the `options` field I am passing in a computed property that contains an array of objects like so:
[code]

[code]
It can render the data just fine, but the search feature does not work. (GIF below)
![gif](http://i.imgur.com/m82BBVH.gif)

Any idea on how to fix this besides passing in a new computed property with just the array of names?

[2017-07-25 03:06] tchan commented on #954
Whoops, I missed this part of the docs
http://www.ember-power-select.com/docs/the-search
Keep up the great work!

[2017-07-25 03:06] #954 closed

[2017-07-26 21:27] jscottchapman commented on #582
+ 1

[2017-07-28 06:23] marendra opened #956 "item was not render after select"
ember-power-select didn't render after select, i mean that the result was not shown in box eventhough the selected property already updated with the data.

This is my javascript in controller:
                   businessCategory:'',
                   actions:{
                                    setCategory(value){
                                            const category = value.get("category")

[2017-07-28 07:25] kumkanillam commented on #956
@marendra For `selected` attribute you need to provide property, and you need to provide action for `onchange` .
[code]
and the template,
[code]

[2017-07-28 10:32] marendra commented on #956
thanks for quick reply @kumkanillam ,
but i tried your solution by adding  selectedCategory on the controller, still not render

[2017-07-28 10:42] kumkanillam commented on #956
I tried it in[ twiddle](https://ember-twiddle.com/aec0439e009dcf5fbd1de6546428a607?openFiles=controllers.application.js%2C) it's working. if you can provide the not working ember-twiddle it would great identify the issue.

[2017-07-28 10:48] cibernox commented on #956
@marendra I believe you are misunderstanding how to use the action and pass in the selected value. Perhaps the examples in this section can help you: http://www.ember-power-select.com/docs/action-handling

[2017-07-28 21:47] marendra commented on #956
@kumkanillam okay my mistake i put this.set("selectedCategory",value.category), it suppose to be this.set("selectedCategory",value) , thanks you so much

[2017-07-28 21:47] #956 closed

[2017-08-03 15:09] raphaelns-developer opened #957 "'selectChoose' integration test is not working"
When i use 'selectChoose('.t-select-user', '.ember-power-select-option', 3); // Third option' on my integration test i received this message:

`Uncaught (in promise) Error: You called "selectChoose('.test-role-selector', '.ember-power-select-option')" but ".ember-power-select-option" didn't match any option
    at selectChoose$ (http://localhost:4200/assets/tests.js:1631:17)
    at tryCatch (http:

[2017-08-03 15:16] cibernox commented on #957
`selectChoose` used as a global is an acceptance test helper, not integration. You can however do `import { selectChoose } from 'ember-power-select/helpers'.

Check if that is the reason.

[2017-08-03 15:23] raphaelns-developer commented on #957
I'm using integration test helper:

`import { clickTrigger, selectChoose } from '../../../helpers/ember-power-select';`

[2017-08-03 15:32] cibernox commented on #957
I don't know then, if you can provide me with a failing test I can look at it, but it looks like it should work.

[2017-08-04 21:17] jamesarosen opened #958 "easier way to customize selected-item display"
### Use Case

I have a number of different uses of `{{#power-select}}`. Each has a fairly rich yielded block for rendering the options, but I want a simple text summary for the selected value. The gotcha is that each instance uses a different path for how to get the selected text. Currently, I need to create a one-off component for each of the `{{#power-select}}` instances.

### Idea 1: pass extra

[2017-08-04 21:36] cibernox commented on #958
The one I want to encourage is the first one. Create a `selectedItemComponent` and pass it. The main reason why I favour that is because it allows you to do anything you want (even add images, bold text, you name it) with a single option, unlike something like a property like `selectedTextPath` that only works for text-only.

The downside is obviously that you have to create a component, but it wi

[2017-08-04 21:42] jamesarosen commented on #958
I can do this now with
[code]
I don't love reaching _up_ to find that property, though.

[2017-08-04 21:44] cibernox commented on #958
Reach out? Why can't you pass it from outside?

[2017-08-04 21:45] cibernox commented on #958
[code]

[2017-08-04 21:49] jamesarosen commented on #958
Ohh! Using `helper:component` to _curry_! Brilliant :)

[2017-08-04 21:49] #958 closed

[2017-08-08 20:51] raphaelns-developer commented on #957
I created a repo with a test project using the last version of Power Select and a test that fail because use 'select Choose'.
https://github.com/raphaelns-developer/power-select-test

[2017-08-08 22:03] cibernox commented on #957
Ok, that is clear now. Your misconception is that the helper is asynchronous and you need to await for it to finish before asserting the result.

[code]

[2017-08-09 07:15] jamesarosen commented on #929
Could `selectChoose` first scroll the trigger into view?

[2017-08-09 07:18] cibernox commented on #929
I forgot about this. I'll review it today again

[2017-08-09 07:19] jamesarosen commented on #929
I tried adding

[code]

right [here](https://github.com/cibernox/ember-power-select/blob/3b901fa58601342493465bbdae9883073f6c0a73/addon-test-support/helpers.js#L87) and my tests started passing.

I think my code could probably use some improvement, but the principle seems to work.

[2017-08-09 12:15] cibernox commented on #957
I'm going to close, let me know if you need more explanation or if you think the docs can be improved so this is clearer. The docs are in this very same repo, inside the dummy app.

[2017-08-09 12:17] #957 closed

[2017-08-09 19:28] aalimovs opened #961 "onhighlight action"
Is there a way to observe changes and/or fire action on highlight/hover of each item?

[2017-08-09 19:52] cibernox commented on #961
No, there isn't.
The reasons are:
- I never needed it
- I thought about it, but I thought that it could be somewhat expensive, as highlighting can happen at very high speed.
- An option can be highlighted by many different things. Hovering. Keyboard up/down. Even just opening the select already highlights one option (the selected value or the first one if none). Searching also does it. I wasn't su

[2017-08-09 19:56] aalimovs commented on #961
Perfect, that'll work! Thanks

[2017-08-09 19:56] #961 closed

[2017-08-09 21:24] batosi175 opened #962 "Nothing is Displayed When the value of the selected Object is 0"
I happen to be using power select with some enumerators that include flags that have values: [0,1,2]
but if the value of 0 happens to be selected then nothing is shown in the selected field even if the option is visible in the dropdown.

I assume this is due to the way that the ember-power-select-true-string-if-present.js helper does it's evaluations.
[code]

My Code:

controller.js
[code]

index.

[2017-08-09 21:57] cibernox commented on #962
This is a know issue. The value 0 in javascript is falsey and somewhere something doesn't let you select it.

Although known, I never had time to track it.

[2017-08-10 09:20] cibernox commented on #962
As a workaround, i'd suggest you use strings instead of number, and convert them to numbers again doing `parseInt` if you have to.

[2017-08-10 14:12] batosi175 commented on #962
Thanks for the quick reply. I ended up just comparing to an object itself { value: 0 },.... I'll try to dive in and see if I can find the source of the bug this weekend.

[2017-08-10 14:24] cibernox commented on #962
Since there is several workarounds and they are all so simple (strings, objects with `value: number`) I'd consider it very very low priority.

[2017-08-14 15:08] fran-worley commented on #44
I'm bumping this following the release of the public beta of Bootstrap 4.

It strikes me that a key issue holding back improvements here in the intent to do everything via setting variables, as opposed to simply having specific stylesheets for frameworks like bootstrap. The benefit of the latter is that you can re-use variables from the framework rather than users having to set a myriad of differe

[2017-08-14 16:03] cibernox commented on #44
@fran-worley Perhaps you want to take at look at https://github.com/kaliber5/ember-bootstrap
It has a select based on ember-power-select but with a better customization than the one you can achieve just by dropping styles.

[2017-08-14 16:07] fran-worley commented on #44
Thanks @cibernox but that project tries to emberify the entirety of the bootstrap framework and I get pretty nervous of projects like that having been badly stung on an old rails project.

They appear to be having a bit of a nightmare with bootstrap 4 so I think I'm probably better off fixing the styling of this addon. I was more wondering whether you'd be interested in merging something for BS4 g

[2017-08-14 16:12] cibernox commented on #44
Sure, I'd be glad to see what do you have for bootstrap 4. The bootstrap 3
and 4 themes can coexist if we name the new one "bootstrap-4"

2017-08-14 18:07 GMT+02:00 Fran Worley <notifications@github.com>:

[2017-08-17 15:02] cibernox commented on #929
The scrolling into view PR has been merged and released, can anyone verify if this continues to be a problem? If it is I'll consider removing the Y axis validation entirely in testing.

[2017-08-17 15:23] esbanarango commented on #929
Thank you @cibernox :pray: I'll test it with the last release.

[2017-08-17 22:31] esbanarango commented on #929
@cibernox bad news :(. We just tested version `1.9.5` and the issue still there.

[2017-08-17 23:19] cibernox commented on #929
Bad but expected. I'll try to fix it tomorrow.

[2017-08-18 14:00] ufchrisg opened #967 "field requires clicking twice to populate grouped data"
The behavior I am seeing is exactly the same as reported in #74 but only when I use groups.

This works fine.
[code]

But if I try to put the separate promises in groups then I must click the field, click away, and then click the field again to get the groups and their data. First click just says "No results found" and does not even display the group labels.
[code]

[2017-08-20 11:01] js-chris opened #968 "Ember 2.14.1 - Cannot set property 'isDescriptor' of null"
Hi,

hope someone has an idea to help me.

I included ember-power-select (1.9.5) in my ember app (Ember 2.14.1) in a component:

[code]

My component is really simple:

[code]

But it's not working, I get this error in the console:

[code]

And I really don't know, how this can be fixed... Did I something wrong or is this an incompatibility with Ember 2.14.1?

Thanks
Chris

[2017-08-21 15:09] js-chris commented on #968
I found the problem meanwhile.

Sorry, but it has nothing todo with ember-power-select, it was some strange "Function.prototype.bind" declaration of an old library, which I kicked out now.

Thanks for trying to help me.